<div id="fixed-elements">
<!--NEW-->
<div class="section2" data-anchor-target="#section2"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data--200-bottom="top[swing]:15%; opacity:1"
	data--600-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Today we face a global humanitarian challenge.</h3>
	<div class="text">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery and West Africa’s Ebola epidemic, human suffering has reached alarming levels, with women and girls being disproportionately affected. Yet, when it comes to humanitarian assistance, gender equality is not prioritized.</div>
</div>
<div class="section3" data-anchor-target="#section3"
	data-bottom-top="top:150%;"
	data-200-bottom="top:50%;"
	data--400-top="top:50%;opacity:1;"
	data-top-bottom="top:-100%;opacity:0;">
	<div class="content">
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number" screen-detector type="number" value="200.5" delay="0" time="2">0.0</div>
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number-stat" screen-detector>million people</div>
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px"  class="number-content" screen-detector>were affected by natural disasters or displaced by conflict and violence in 2014.</div>

		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px"  class="number" screen-detector type="number" value="50" delay="0" time="2">0</div>
		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px"  class="number-stat" screen-detector>per cent</div>
		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px"  class="number-content" screen-detector>of refugees are women and girls.</div>

		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px"  class="number" screen-detector>only <span screen-detector type="number" value="4" delay="0" time="3">0</span></div>
		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px"  class="number-stat" screen-detector>per cent</div>
		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px" class="number-content" screen-detector>of projects in UN inter-agency appeals were targeted at women and girls in 2014.</div>

		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"   class="number" screen-detector>just <span screen-detector type="number" value="1" delay="0" time="2">0</span></div>
		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px" class="number-stat" screen-detector>per cent</div>
		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"   class="number-content" screen-detector>of all funding to fragile states — most impacted by disasters — went to women’s groups or women’s ministries in 2015.</div>
	</div>
</div>
<div class="section4" data-anchor-target="#section4"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data--200-bottom="top[swing]:15%; opacity:1"
	data--600-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">When crises strike, gender inequalities are often exacerbated.</h3>
	<div class="text">These include: increased levels of gender-based violence, exclusion from life-saving services and decision-making processes due to discriminatory social norms, such as food hierarchies, and limited mobility to get help due to physical insecurity.</div>
</div>
<div class="keep-scrolling" data-anchor-target="#section5"
	data-bottom-top="top[sqrt]:-100%;;opacity:0"
	data-600-top="top[sqrt]:0%;opacity:0"
	data-400-top="top[sqrt]:10%;opacity:1"
	data--100-top="top:10%;;opacity:1"
	data--1100-top="top:-100%;;opacity:0">
	<h4 >LET’S TAKE A LOOK AT SOME <br> OF THE IMPACTS </h4>
	<div class="arrow" svg-container name="arrow"></div>
</div>
<div class="line-center" data-anchor-target="#section5"
	data-400-top="top:100%;"
	data-top="top:50%;"
	data--400-top="top:0%;"
	data--6200-top="top:0%;"
	data--6800-top="top:-100%;"></div>

<div class="section5">
	<div class="left white" data-anchor-target="#section5"
	data-top="top[sqrt]:100%; opacity: 0;"
	 data--100-top="top[sqrt]:35%; opacity: 0;"
	data--500-top="top[sqrt]:20%; opacity: 1;"
	data--1500-top="top[swing]:20%; opacity: 1;"
	 data--1900-top="top[swing]:5%; opacity: 0;"
	data--2500-top="top[swing]:-100%; opacity: 0;">
		<h3>Health</h3>
		<p>Access to healthcare is limited during and after a crisis, increasing mortality and malnutrition rates, particularly for mothers and infants.</p>		
	</div>
	<div class="right color one" data-anchor-target="#section5"
	data--300-top="top[sqrt]:100%; opacity:0; "
	 data--500-top="top[sqrt]:40%; opacity:0; "
	data--900-top="top[sqrt]:25%; opacity:1; "
	data--1500-top="top[swing]:25%; opacity:1; "
	 data--1900-top="top[swing]:10%; opacity:0; "
	data--2500-top="top[swing]:-100%; opacity:0; ">
		<h3><span screen-detector type="number" value="60" delay="0" time="2">0</span></h3>
		<p><span>per cent of preventable maternal mortality deaths</span> take place in settings of conflict, displacement and natural disasters.</p>	
		<div class="svg-section stat-1"  svg-container name="stat1-desktop"></div>	
	</div>
	<!--CHANGE-->
	<div class="left color two" data-anchor-target="#section5"
	data--2000-top="top[sqrt]:100%; opacity:0; "
	 data--2200-top="top[sqrt]:40%; opacity:0; "
	data--2600-top="top[sqrt]:25%; opacity:1; "
	data--3000-top="top[swing]:25%; opacity:1; "
	 data--3400-top="top[swing]:10%; opacity:0; "
	data--4000-top="top[swing]:-100%; opacity:0; ">
		<h3>1<span class="small-title"> in </span><span screen-detector type="number" value="5" delay="0" time="2">0</span></h3>
		<p><span>refugees or displaced women in complex humanitarian settings</span> are estimated to have experienced sexual violence—likely an underestimation given the barriers associated with disclosure.</p>	
		<div class="svg-section stat-2"  svg-container name="stat2-desktop"></div>		
	</div>
	<div class="right white" data-anchor-target="#section5"
	data--1700-top="top[sqrt]:100%;opacity: 0;"
	 data--1900-top="top[sqrt]:35%;opacity: 0;"
	data--2300-top="top[sqrt]:20%;opacity: 1;"
	data--3000-top="top[swing]:20%;opacity: 1;"
	 data--3400-top="top[swing]:5%;opacity: 0;"
	data--4000-top="top[swing]:-100%;opacity: 0;">
		<h3>Gender-based violence</h3>
		<p>Gender-based violence, including rape and early and forced marriage, often increases during crises when protection mechanisms deteriorate, depriving women and girls the fundamental rights to live free from violence.</p>		
	</div>
<!--CHANGE-->
	<div class="left white" data-anchor-target="#section5"
	data--3400-top="top[sqrt]:100%;opacity: 0;"
	 data--3600-top="top[sqrt]:35%;opacity: 0;"
	data--4000-top="top[sqrt]:20%;opacity: 1;"
	data--4700-top="top[swing]:20%;opacity: 1;"
	 data--5100-top="top[swing]:5%;opacity: 0;"
	data--5700-top="top[swing]:-100%;opacity: 0;">
		<h3>Livelihoods</h3>
		<p>Crises often hit women’s livelihoods hardest, in part also because they tend to work in informal sectors, increasing their risk of engaging in poorly paid work or transactional sex.</p>		
	</div>
	<div class="right color three" data-anchor-target="#section5"
	data--3700-top="top[sqrt]:100%; opacity:0; "
	 data--3900-top="top[sqrt]:40%; opacity:0; "
	data--4300-top="top[sqrt]:25%; opacity:1; "
	data--4700-top="top[swing]:25%; opacity:1; "
	 data--5100-top="top[swing]:10%; opacity:0; "
	data--5700-top="top[swing]:-100%; opacity:0; ">
		<h3><span class="small-title">Up to </span><span screen-detector type="number" value="30" delay="0" time="2">0</span></h3>
		<p><span>per cent of internally displaced households in Yemen are female headed,</span> compared to approximately 9 per cent before the current crisis. </p>	
		<div class="svg-section stat-3"  svg-container name="stat3-desktop"></div>		
	</div>
	<!--CHANGE-->
	<div class="left color three" data-anchor-target="#section5"
	data--5400-top="top[sqrt]:100%; opacity:0; "
	 data--5600-top="top[sqrt]:40%; opacity:0; "
	data--6000-top="top[sqrt]:25%; opacity:1; "
	data--6400-top="top[swing]:25%; opacity:1; "
	 data--6800-top="top[swing]:10%; opacity:0; "
	data--7400-top="top[swing]:-100%; opacity:0; ">
		<h3><span class="small-title">Girls are </span><span screen-detector type="number" value="2.5" delay="0" time="2">0</span></h3>
		<p><span>times more likely to be out of school in conflict-affected countries</span> than their counterparts in conflict-free countries.</p>
		<div class="svg-section stat-4"  svg-container name="stat4-desktop"></div>			
	</div>
	<div class="right white" data-anchor-target="#section5"
	data--5100-top="top[sqrt]:100%;opacity: 0;"
	 data--5300-top="top[sqrt]:35%;opacity: 0;"
	data--5700-top="top[sqrt]:20%;opacity: 1;"
	data--6400-top="top[swing]:20%;opacity: 1;"
	 data--6800-top="top[swing]:5%;opacity: 0;"
	data--7400-top="top[swing]:-100%;opacity: 0;">
		<h3>Education</h3>
		<p>Girls are often the first to be pulled out of school as parents find ways to alleviate economic burdens, depriving them of the fundamental right to education and the realization of their full potential in life.</p>		
	</div>
</div>

<div class="section6" data-anchor-target="#section6"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data-200-bottom="top[swing]:15%; opacity:1"
	data--200-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Women are leaders and agents of change.</h3>
	<div class="text">Women are often the first responders to a crisis, and play a central role in the survival and resilience of families and communities. Studies show that when women are included in humanitarian action, the entire community benefits. Local women’s groups are also often best placed to mobilize change and respond to crises.</div>
</div>

<div class="keep-scrolling" data-anchor-target="#section6"
	data-600-bottom="top[sqrt]:-100%; opacity: 0;"
	 data-200-bottom="top[sqrt]:-10%; opacity: 0;"
	data--200-bottom="top[sqrt]:10%; opacity: 1;"
	data--600-bottom="top[swing]:10%; opacity: 1;"
	 data--1000-bottom="top[swing]:-10%; opacity: 0;"
	data--1400-bottom="top[swing]:-100%; opacity: 0;">
	<h4 >HERE ARE JUST A FEW WAYS UN WOMEN IS HELPING<br>WOMEN TAKE CHARGE</h4>
	<div class="arrow" svg-container name="arrow"></div>
</div>
<!--ENDNEW-->
	<lang-menu class="lang" data-0="top[sqrt]:60%; left[sqrt]:50%;" data-300="top[sqrt]:5%; left[sqrt]:5.5%;">
		<span >English </span>
		<i class="fa fa-caret-down" aria-hidden="true"></i>
		<svg width="118" height="36">
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 0,36 0,0 58.5,0 "/>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 117,36 117,0 58.5,0 "/>
		</svg>
		<div class="options">
			<a  href="../es" data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">Español</a>
			<hr data-start="border-color:rgb(211,45,51);" data-_section11-start="border-color:rgb(230,154,105);" data-end="border-color:rgb(79,186,228);">
			<a href="../fr" class="second" data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">Français</a>
		</div>
	</lang-menu>

	<header data-0="left[sqrt]:calc(-30% - 54px)" data-300="left[sqrt]:calc(5.5% - 54px)">
		<ul state-menu-desktop>
			<li><a class="first" state="1" href="#" data-menu-top="{{scrollToDesktop.section1}}">Today’s situation</a></li>
			<li><a state="2" href="#" data-menu-top="{{scrollToDesktop.section2}}">Gender impacts</a></li>
			<li><a state="3" href="#" data-menu-top="{{scrollToDesktop.section3}}">Agents of change</a></li>
			<li><a state="4" href="#" data-menu-top="{{scrollToDesktop.section4}}">Commitments</a></li>
		</ul>
	</header>
	<div class="un-logo-fixed"></div>
	<div data-anchor-target="#section2" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data--200-bottom="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg1" svg-container  name="svg1-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section4" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data--200-bottom="bottom:0%;"  data-top-bottom="bottom:-100%;" id="svg2" svg-container  name="svg2-desktop" proportional="0.352"></div>

	<div data-anchor-target="#section6" data-1500-bottom="bottom:-100%;" data-900-bottom="bottom:0%;" data-200-bottom="bottom:0%;"  data--400-bottom="bottom:-100%;" id="svg3" svg-container  name="svg3-desktop" proportional="0.352"></div>

	<div data-anchor-target="#section6" 		
		data--12500-bottom="bottom[sqrt]:-100%;" 
		data--14000-bottom="bottom[sqrt]:0%;" 
		data--15000-bottom="bottom[swing]:0%;" 
		data--16500-bottom="bottom[swing]:-100%;"  id="svg4" svg-container  name="svg4-desktop" proportional="0.352"></div>

	<div id="section7" data-anchor-target="#section6" data-200-bottom="top:100%;" data-bottom="top:0%;" data--10000-bottom="top:0%;" >

		<section data-anchor-target="#section6" data-bottom="top:100%;" data--1000-bottom="top:50%;" data--5000-bottom="top:-100%;">
			<h3>Syrian refugees, Jordan</h3>
			<p>UN Women’s largest cash-for-work programme for women in Jordan’s Za’atari refugee camp increased the average income of full-time workers, improving diets, household hygiene and healthcare.</p>
			<hr>
			<span>Credit: UN Women/Christopher Herwig</span>
		</section>
		<section data-anchor-target="#section6" data--3000-bottom="top:100%;" data--4000-bottom="top:50%;" data--8000-bottom="top:-100%;">
			<h3>Ebola epidemic, West Africa</h3>
			<p>Informational radio programmes, psychosocial support and UN Women-facilitated trainings helped women adopt new strategies to respond to, cope with and curb the spread of Ebola. </p>
			<hr>
			<span>Credit: UN Women/Emma Vincent</span>
		</section>
		<section data-anchor-target="#section6" data--6000-bottom="top:100%;" data--7000-bottom="top:50%;" data--11000-bottom="top:-100%;">
			<h3>Earthquake, Nepal</h3>
			<p>When an earthquake rocked Nepal in 2015, UN Women partnered with national women’s groups and civil society to develop an early recovery strategy through a “Common Charter of Women’s Demands”. </p>
			<hr>
			<span>Credit: UN Women/Samir Jung Thapa</span>
		</section>
		<section data-anchor-target="#section6" data--9000-bottom="top:100%;" data--10000-bottom="top:50%;" data--14000-bottom="top:-100%;">
			<h3>Cyclone, Fiji</h3>
			<p>Following the devastating cyclone in Fiji in 2016, UN Women has been working with local partners to promote economic opportunities for women through market spaces.</p>
			<hr>
			<span>Credit: UN Women/Murray Lloyd</span>
		</section>

		<div class="subsection first" data-anchor-target="#section6" data-bottom="height:0%;" data--1000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection second" data-anchor-target="#section6" data--3000-bottom="height:0%;" data--4000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection third" data-anchor-target="#section6" data--6000-bottom="height:0%;" data--7000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection fourth" data-anchor-target="#section6" data--9000-bottom="height:0%;" data--10000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
	</div>
	<div id="last-section" data-anchor-target="#section6" data--11500-bottom="top:100%;background-color:rgb(134, 201, 222);" data--13500-bottom="top:0%;" data--18000-bottom="background-color:rgb(79,186,228);">
		<div id="section8" data-anchor-target="#section6"
			data--11500-bottom="top[sqrt]:100%; opacity: 0;"
			 data--12600-bottom="top[sqrt]:30%; opacity: 0;"  
			data--13000-bottom="top[sqrt]:15%; opacity: 1;" 
			data--15000-bottom="top[swing]:15%; opacity: 1;"
			 data--15400-bottom="top[swing]:0%; opacity: 0;"  
			data--16500-bottom="top[swing]:-100%; opacity: 0;">
			<div class="content">
				<h3 class="title">Catalyzing action to achieve gender equality.</h3>
				<div class="text">Together we must take bold steps to enable women and girls to realize their human rights and full potential and end discrimination in crises. When women are meaningfully engaged, and their needs are directly addressed, humanitarian action is more efficient and effective, the transition to recovery accelerated, and community-wide resilience is enhanced.</div>
			</div>
		</div>
	</div>
	<div id="section9" slide
		data-anchor-target="#section6"
		data--14500-bottom="top[sqrt]:200%; opacity: 0;"
		 data--16500-bottom="top[sqrt]:65%; opacity: 0;"  
		data--17000-bottom="top[sqrt]:50%; opacity: 1;" 
		data--18500-bottom="top[swing]:50%; opacity: 1;" 
		 data--19000-bottom="top[sqrt]:35%; opacity: 0;"  
		data--20000-bottom="top[swing]:-100%; opacity: 0;">
		<h3 class="title">Commitments we must make</h3>
		<div class="arrow-right arrow-right-desktop">
			<img class="no-hover" src="../assets/img/slide-arrow-desktop.png">
			<img class="hover" src="../assets/img/slide-arrow-desktop-hover.png">
		</div>
		<div class="arrow-left arrow-left-desktop">
			<img class="no-hover" src="../assets/img/slide-arrow-desktop.png">
			<img class="hover" src="../assets/img/slide-arrow-desktop-hover.png">
		</div>
		<section >
			<h3 class="title">Commitment 1/5:</h3>
			<div class="content">Empower women and girls as change agents and leaders, including by increasing support for local women led groups to participate meaningfully in humanitarian action.</div>
		</section>
		<section >
			<h3 class="title">Commitment 2/5:</h3>
			<div class="content">Ensure universal access to sexual and reproductive health and reproductive rights as agreed in accordance with the Programme of Action of the International Conference on Population and Development and the Beijing Platform for Action and the Outcome documents of their review conferences for all women and adolescent girls in crisis settings.</div>
		</section>
		<section >
			<h3 class="title">Commitment 3/5:</h3>
			<div class="content"> Implement a coordinated global approach to prevent and respond to gender-based violence in crisis contexts, including through the Call to Action on Protection from Gender-based Violence in Emergencies.</div>
		</section>
		<section >
			<h3 class="title">Commitment 4/5:</h3>
			<div class="content">Ensure that humanitarian programming is gender-responsive</div>
		</section>
		<section >
			<h3 class="title">Commitment 5/5:</h3>
			<div class="content">Fully comply with humanitarian policies, frameworks and legally binding documents related to gender equality, women’s empowerment and women’s rights.</div>
		</section>
		<div id="svg5" data-anchor-target="#section6"
		data--16500-bottom="top[sqrt]:200%; opacity: 0;" 
		 data--17000-bottom="top[sqrt]:15%; opacity: 0;" 
		data--17500-bottom="top[sqrt]:0%; opacity: 1;" 
		data--18500-bottom="top[swing]:0%; opacity: 1;" 
		data--20000-bottom="top[swing]:0%; opacity: 1;"  svg-container  name="svg5-desktop"></div>
	</div>
	<div id="section10" data-anchor-target="#section6"
	    data--19000-bottom="top[sqrt]:100%; opacity: 0;"
		data--19100-bottom="top[sqrt]:0%; opacity: 0;"
		data--19200-bottom="top[sqrt]:0%; opacity: 1;"  >
		<h2 data-anchor-target="#section6"	    
			 data--19200-bottom="transform:translateY(40px); opacity: 0;" 
			data--19600-bottom="transform:translateY(0px); opacity: 1;">Step it up for<br> gender equality.</h2>
		<h4 data-anchor-target="#section6"	    
			 data--19400-bottom="transform:translateY(40px); opacity: 0;" 
			data--19800-bottom="transform:translateY(0px); opacity: 1;">We must achieve a <strong>Planet 50-50</strong> by 2030.</h4>
		<div class="logos" data-anchor-target="#section6"
			 data--19600-bottom="margin-top:40px; opacity: 0;" 
			data--20000-bottom="margin-top:0px; opacity: 1;">
	
		<div class="btn1 share0" ng-click="share0()" data-lang="en">
			<span ><strong>unwomen.org</strong></span>
			<svg width="190" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="95,36 0,36 0,0 95,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="95,36 190,36 190,0 95,0 "/>
			</svg>
		</div>
		<div class="btn2 share1" ng-click="share1()" data-lang="en">
			<span ></span>
			<svg width="36" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 0,36 0,0 18,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 36,36 36,0 18,0 "/>
			</svg>
		</div>
		<div class="btn3 share2" ng-click="share2()" data-lang="en">
			<span ></span>
			<svg width="36" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 0,36 0,0 18,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 36,36 36,0 18,0 "/>
			</svg>
		</div>
		</div>
	</div>
</div>