<div class="mobile">
	<div id="fixed-elements">
		<burger-menu id="menu-burger" data-400-start="background: rgba(255,255,255,0);" data-700-start="background:rgba(255,255,255,1);" ng-click="clicked = !clicked" >
			<!--<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>-->
			<svg width="89px" height="89px">
				<path id="mov1" d="M35,38 C39,38 41,38 45,38" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
				<path id="mov2" d="M45,38 C49,38 51,38 55,38" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
				<line id="mov3" x1="35" y1="45" x2="45" y2="45" x="0" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);" stroke-opacity="1"></line>
				<line id="mov4" x1="45" y1="45" x2="55" y2="45" x="10" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);" stroke-opacity="1"></line>
				<path id="mov5" d="M35,52 C39,52 41,52 45,52" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
				<path id="mov6" d="M45,52 C49,52 51,52 55,52" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
			</svg>
			<div class="text-burger">
				<span 
					data-400-start="color: rgb(255,255,255);" 
					data-700-start="color:rgb(211,45,51);" 
					data-_section11-start="color:rgb(230,154,105);" 
					data-end="color:rgb(79,186,228);" 
					ng-show="clicked">Menu</span>
				<span 
					data-400-start="color: rgb(211,45,51);" 
					data-700-start="color:rgb(211,45,51);" 
					data-_section11-start="color:rgb(230,154,105);" 
					data-end="color:rgb(79,186,228);" 
					ng-show="!clicked">Close</span></div>

		</burger-menu>
		<div id="menu-mobile">
			<div class="options">
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section1}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);" 
						ng-click="clicked = !clicked"><i data-0="display:inline-block;" data-1700="display:none;" class="fa fa-circle" aria-hidden="true"></i>Today’s Situation<i data-0="display:inline-block;" data-1700="display:none;" class="fa fa-circle" aria-hidden="true"></i></a></div>
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section2}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);"
						ng-click="clicked = !clicked"><i data-0="display:none;" data-1700="display:inline-block;" data-5500="display:none;" class="fa fa-circle" aria-hidden="true"></i>Gender Impacts<i data-0="display:none;" data-1700="display:inline-block;" data-5500="display:none;" class="fa fa-circle" aria-hidden="true"></i></a></div>
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section3}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);"
						ng-click="clicked = !clicked"><i data-0="display:none;" data-5500="display:inline-block;" data-10200="display:none;"  class="fa fa-circle" aria-hidden="true"></i>Agents of Change<i data-0="display:none;" data-5500="display:inline-block;" data-10200="display:none;"  class="fa fa-circle" aria-hidden="true"></i></a></div>
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section4}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);"
						ng-click="clicked = !clicked"><i data-0="display:none;" data-10200="display:inline-block;" class="fa fa-circle" aria-hidden="true"></i>Commitments<i data-0="display:none;" data-10200="display:inline-block;" class="fa fa-circle" aria-hidden="true"></i></a></div>
			</div>
			<div class="lang-section">
				<a class="en active" data-start="background:rgb(211,45,51);" data-_section11-start="background:rgb(230,154,105);" data-end="background:rgb(79,186,228);">English</a>
				<a href="../es" class="es">Español</a>
				<a href="../fr" class="fr">Français</a>
			</div>
		</div>
		<div class="section11" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-700="height:100vh;"
				data-_section11-1100="height:0vh;">
				<div class="img"></div>
			</div>
			
			<div class="text-move" 
				data-_section11-0="bottom:-100%;" 
				data-_section11-700="bottom:100%;">
				<h3>Syrian refugees, Jordan</h3>
				<div class="content">UN Women’s largest cashfor-work programme for women in Jordan’s Za’atari refugee camp increased the average income of fulltime workers, improving diets, household hygiene and healthcare. 
				<hr>
					<div class="credits">Credit: UN Women/Christopher Herwig</div>
				</div>

			</div>
		</div>

		<div class="section12" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-1700="height:100vh;"
				data-_section11-2100="height:0vh;">
				<div class="img"></div>
			</div>
			<div class="text-move" 
				data-_section11-1000="bottom:-100%;" 
				data-_section11-1700="bottom:100%;">
				<h3>Ebola epidemic, West Africa</h3>
				<div class="content">As primary care providers, nurses and midwives, women were at increased risk to contracting Ebola when the outbreak hit in 2014. UN Women mobilized to educate and empower women to help curb the spread of Ebola in the region and in particular rural areas.
				<hr> 
					<div class="credits">Credit: UN Women/Emma Vincent</div>
				</div>
			</div>
		</div>

		<div class="section13" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-2700="height:100vh;"
				data-_section11-3100="height:0vh;">
				<div class="img"></div>
			</div>
			<div class="text-move" 
				data-_section11-2000="bottom:-100%;" 
				data-_section11-2700="bottom:100%;">
				<h3>Earthquake, Nepal</h3>
				<div class="content">When an earthquake rocked Nepal in 2015, UN Women partnered with national women’s groups and civil society to develop an early recovery strategy through a “Common Charter of Women’s Demands”. 
				<hr>
					<div class="credits">Credit: UN Women/Samir Jung Thapa</div>
				</div>
			</div>
		</div>
	<!--transform: matrix3d(0.25,0,0.00,0,0.00,-0.8,0.00,0.004,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);-->
		<div class="section14" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-3700="height:100vh;"
				data-_section11-4100="height:0vh;">
				<div class="img"></div>
			</div>
			<div class="text-move" 
				data-_section11-3000="bottom:-100%;" 
				data-_section11-3700="bottom:100%;">
				<h3>Cyclone, Fiji</h3>
				<div class="content">Following the devastating cyclone in Fiji in 2016, UN Women has been working with local partners to promote economic opportunities for women through market spaces.  
				<hr>
					<div class="credits">Credit: UN Women/Murray Lloyd<</div>
				</div>
			</div>
		</div>

		<div id="section12"
			data-_section11-3750="top:100%;" 
			data-_section11-4150="top:0%;"
			data-_section11-4550="top:-150%;">
			<h3 class="title" data-_section11-3800="top:80px; opacity:0;" data-_section11-3900="top:0px; opacity:1;">Catalyzing action to achieve gender equality</h3>
			<div class="content" data-_section11-3900="top:80px; opacity:0;" data-_section11-4000="top:0px; opacity:1;">Together we must take bold steps to enable women and girls to realize their human rights and full potential and end discrimination in crises. When women are meaningfully engaged, and their needs are directly addressed, humanitarian action is more efficient and effective, the transition to recovery accelerated, and community wide resilience is enhanced.</div>
		</div>

		<div id="section-between-12-13" svg-container  name="svg4"
			data-_section11-4100="top:100%;" 
			data-_section11-4500="top:0%;"
			data-_section11-4900="top:-100%;">
			
		</div>

		<div id="section13" slide
			data-_section11-4300="top:100%;" 
			data-_section11-4700="top:0%;"
			data-_section11-4800="top:0%;"
			data-_section11-5200="top:-200%;">
			<h3 class="title"  data-_section11-4200="right:20px; opacity:0;" data-_section11-4300="right:0px; opacity:1;">Commitments we must make</h3>
			<div class="arrow-right"><img src="../assets/img/slide-arrow.png"></div>
			<div class="arrow-left"><img src="../assets/img/slide-arrow.png"></div>
			<section >
				<h3 class="title">Commitment 1/5:</h3>
				<div class="content">Empower women and girls as change agents and leaders, including by increasing support for local women led groups to participate meaningfully in humanitarian action.</div>
			</section>
			<section >
				<h3 class="title">Commitment 2/5:</h3>
				<div class="content">Ensure universal access to sexual and reproductive health and reproductive rights as agreed in accordance with the Programme of Action of the International Conference on Population and Development and the Beijing Platform for Action and the Outcome documents of their review conferences for all women and adolescent girls in crisis settings.</div>
			</section>
			<section >
				<h3 class="title">Commitment 3/5:</h3>
				<div class="content">Implement a coordinated global approach to prevent and respond to gender-based violence in crisis contexts, including through the Call to Action on Protection from Genderbased Violence in Emergencies.</div>
			</section>
			<section >
				<h3 class="title">Commitment 4/5:</h3>
				<div class="content">Ensure that humanitarian programming is gender-responsive.</div>
			</section>
			<section >
				<h3 class="title">Commitment 5/5:</h3>
				<div class="content">Fully comply with humanitarian policies, frameworks and legally binding documents related to gender equality, women’s empowerment and women’s rights.</div>
			</section>
		</div>

		<div id="section14"
			data-_section11-4650="top:100%;" 
			data-_section11-5050="top:0%;">
			<h3 class="title" data-_section11-5000="opacity:0;top:50px;" data-_section11-5100="opacity:1;top:0px;">Step it up for gender equality.</h3>
			<h4 class="title" data-_section11-5000="opacity:0;top:50px;" data-_section11-5100="opacity:1;top:0px;"><strong>Planet 50-50</strong> by 2030.</h4>
			<div class="icons" data-_section11-5050="opacity:0;top:65%;" data-_section11-5150="opacity:1;top:55%;">
				<a ng-click="share0()" data-lang="en" class="more share0"></a>
				<a class="icon-1 share1" ng-click="share1()" data-lang="en"></a>
				<a class="icon-2 share2" ng-click="share2()" data-lang="en"></a>
			</div>
			<div class="un-logo" data-_section11-5100="opacity:0;bottom:0px;" data-_section11-5200="opacity:1;bottom:20px;"></div>
			<!--<div class="un-logo-text" data-_section11-5100="opacity:0;bottom:0px;" data-_section11-5200="opacity:1;bottom:20px;"></div>-->
		</div>
	</div>
</div>