<div id="fixed-elements">
<!--NEW-->
<div class="section2" data-anchor-target="#section2"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data--200-bottom="top[swing]:15%; opacity:1"
	data--600-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Actualmente nos enfrentamos a un reto humanitario mundial.</h3>
	<div class="text">Desde el conflicto actual en Siria hasta la recuperación posterior al terremoto de Nepal y la epidemia del ébola en el África occidental, el sufrimiento humano ha alcanzado niveles alarmantes, y afecta desproporcionadamente a mujeres y niñas. Sin embargo, cuando se trata de la asistencia humanitaria, no se otorga prioridad a la igualdad de género.</div>
</div>
<div class="section3" data-anchor-target="#section3"
	data-bottom-top="top:150%;"
	data-200-bottom="top:50%;"
	data--400-top="top:50%;opacity:1;"
	data-top-bottom="top:-100%;opacity:0;">
	<div class="content">
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number" screen-detector type="number" value="200.5" delay="0" time="2">0.0</div>
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number-stat" screen-detector>millones</div>
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number-content" screen-detector>de personas se vieron afectadas por desastres naturales o desplazadas por el conflicto y la violencia en 2014.</div>

		<div data-anchor-target="#section3" data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px" class="number" screen-detector type="number" value="50" delay="0" time="2">0</div>
		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px"  class="number-stat" screen-detector>por ciento</div>
		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px"  class="number-content" screen-detector>de refugiados son mujeres y niñas. </div>

		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px" class="number" screen-detector>Sólo el <span screen-detector type="number" value="4" delay="0" time="3">0</span></div>
		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px"  class="number-stat" screen-detector>por ciento</div>
		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px"class="number-content" screen-detector>de proyectos de llamados interinstitucionales de las Naciones Unidas se destinaron a mujeres y niñas en 2014.</div>

		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"   class="number" screen-detector>Sólo el <span screen-detector type="number" value="1" delay="0" time="2">0</span></div>
		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px" class="number-stat" screen-detector> por ciento</div>
		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"   class="number-content" screen-detector>de todos los fondos para estados frágiles —los más afectados por desastres— se destinaron a grupos o ministerios de mujeres en 2015.</div>
	</div>
</div>
<div class="section4" data-anchor-target="#section4"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data--200-bottom="top[swing]:15%; opacity:1"
	data--600-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Las desigualdades de género suelen exacerbarse cuando surgen crisis.</h3>
	<div class="text">Por ejemplo: mayores niveles de violencia de género, exclusión de servicios que pueden salvar vidas y procesos de toma de decisiones como consecuencia de normas sociales discriminatorias, como jerarquías en la alimentación y movilidad limitada para obtener ayuda por inseguridad física.</div>
</div>
<div class="keep-scrolling" data-anchor-target="#section5"
	data-bottom-top="top[sqrt]:-100%;;opacity:0"
	data-600-top="top[sqrt]:0%;opacity:0"
	data-400-top="top[sqrt]:10%;opacity:1"
	data--100-top="top:10%;;opacity:1"
	data--1100-top="top:-100%;;opacity:0">
	<h4 >VEAMOS ALGUNOS DE LOS IMPACTOS</h4>
	<div class="arrow" svg-container name="arrow"></div>
</div>
<div class="line-center" data-anchor-target="#section5"
	data-400-top="top:100%;"
	data-top="top:50%;"
	data--400-top="top:0%;"
	data--6200-top="top:0%;"
	data--6800-top="top:-100%;"></div>

<div class="section5">
	<div class="left white" data-anchor-target="#section5"
	data-top="top[sqrt]:100%; opacity: 0;"
	 data--100-top="top[sqrt]:35%; opacity: 0;"
	data--500-top="top[sqrt]:20%; opacity: 1;"
	data--1500-top="top[swing]:20%; opacity: 1;"
	 data--1900-top="top[swing]:5%; opacity: 0;"
	data--2500-top="top[swing]:-100%; opacity: 0;">
		<h3>Salud</h3>
		<p>El acceso a la atención sanitaria es limitado durante y después de una crisis, lo que aumenta los índices de mortalidad y malnutrición, especialmente entre madres y recién nacidos.</p>		
	</div>
	<div class="right color one" data-anchor-target="#section5"
	data--300-top="top[sqrt]:100%; opacity:0; "
	 data--500-top="top[sqrt]:40%; opacity:0; "
	data--900-top="top[sqrt]:25%; opacity:1; "
	data--1500-top="top[swing]:25%; opacity:1; "
	 data--1900-top="top[swing]:10%; opacity:0; "
	data--2500-top="top[swing]:-100%; opacity:0; ">
		<h3><span screen-detector type="number" value="60" delay="0" time="2">0</span></h3>
		<p><span>por ciento de las muertes por mortalidad materna que se pueden prevenir</span> se producen en entornos de conflicto, desplazamiento y desastres naturales. </p>	
		<div class="svg-section stat-1"  svg-container name="stat1-desktop-es"></div>	
	</div>
	<!--CHANGE-->
	<div class="left color two" data-anchor-target="#section5"
	data--2000-top="top[sqrt]:100%; opacity:0; "
	 data--2200-top="top[sqrt]:40%; opacity:0; "
	data--2600-top="top[sqrt]:25%; opacity:1; "
	data--3000-top="top[swing]:25%; opacity:1; "
	 data--3400-top="top[swing]:10%; opacity:0; "
	data--4000-top="top[swing]:-100%; opacity:0; ">
		<h3>1<span class="small-title"> de cada </span><span screen-detector type="number" value="5" delay="0" time="2">0</span></h3>
		<p>es la cifra estimada de <span> mujeres refugiadas o desplazadas en entornos humanitarios </span> que han sufrido violencia sexual, lo que probablemente sea una subestimación si se tienen en cuenta los obstáculos asociados a su revelación.</p>	
		<div class="svg-section stat-2"  svg-container name="stat2-desktop-es"></div>		
	</div>
	<div class="right white" data-anchor-target="#section5"
	data--1700-top="top[sqrt]:100%;opacity: 0;"
	 data--1900-top="top[sqrt]:35%;opacity: 0;"
	data--2300-top="top[sqrt]:20%;opacity: 1;"
	data--3000-top="top[swing]:20%;opacity: 1;"
	 data--3400-top="top[swing]:5%;opacity: 0;"
	data--4000-top="top[swing]:-100%;opacity: 0;">
		<h3>Violencia de género</h3>
		<p>La violencia de género, incluida la violación y el matrimonio precoz y forzado, a menudo aumenta durante las crisis cuando se deterioran los mecanismos de protección, lo que niega a mujeres y niñas el derecho fundamental de vivir sin violencia. </p>		
	</div>
<!--CHANGE-->
	<div class="left white" data-anchor-target="#section5"
	data--3400-top="top[sqrt]:100%;opacity: 0;"
	 data--3600-top="top[sqrt]:35%;opacity: 0;"
	data--4000-top="top[sqrt]:20%;opacity: 1;"
	data--4700-top="top[swing]:20%;opacity: 1;"
	 data--5100-top="top[swing]:5%;opacity: 0;"
	data--5700-top="top[swing]:-100%;opacity: 0;">
		<h3>Medios de subsistencia</h3>
		<p>Las crisis suelen afectar más duramente a los medios de subsistencia de las mujeres, en parte también porque estas suelen desempeñarse en sectores informales, lo que aumenta su riesgo de aceptar trabajo mal remunerado o sexo transaccional. </p>		
	</div>
	<div class="right color three" data-anchor-target="#section5"
	data--3700-top="top[sqrt]:100%; opacity:0; "
	 data--3900-top="top[sqrt]:40%; opacity:0; "
	data--4300-top="top[sqrt]:25%; opacity:1; "
	data--4700-top="top[swing]:25%; opacity:1; "
	 data--5100-top="top[swing]:10%; opacity:0; "
	data--5700-top="top[swing]:-100%; opacity:0; ">
		<h3><span class="small-title">Hasta el </span><span screen-detector type="number" value="30" delay="0" time="2">0</span></h3>
		<p><span>por ciento de los hogares desplazados internamente del Yemen tienen a una mujer como cabeza de familia,</span> frente a aproximadamente el 9 por ciento de antes de las crisis actuales. </p>	
		<div class="svg-section stat-3"  svg-container name="stat3-desktop-es"></div>		
	</div>
	<!--CHANGE-->
	<div class="left color three" data-anchor-target="#section5"
	data--5400-top="top[sqrt]:100%; opacity:0; "
	 data--5600-top="top[sqrt]:40%; opacity:0; "
	data--6000-top="top[sqrt]:25%; opacity:1; "
	data--6400-top="top[swing]:25%; opacity:1; "
	 data--6800-top="top[swing]:10%; opacity:0; "
	data--7400-top="top[swing]:-100%; opacity:0; ">
		<h3><span class="small-title" style="font-size: 23px !important;">Las niñas tienen </span><span screen-detector type="number" value="2.5" delay="0" time="2">0</span></h3>
		<p><span>veces más de probabilidades de no estar escolarizadas en países afectados por conflictos,</span> en comparación con sus contrapartes de países sin conflictos.</p>
		<div class="svg-section stat-4"  svg-container name="stat4-desktop-es"></div>			
	</div>
	<div class="right white" data-anchor-target="#section5"
	data--5100-top="top[sqrt]:100%;opacity: 0;"
	 data--5300-top="top[sqrt]:35%;opacity: 0;"
	data--5700-top="top[sqrt]:20%;opacity: 1;"
	data--6400-top="top[swing]:20%;opacity: 1;"
	 data--6800-top="top[swing]:5%;opacity: 0;"
	data--7400-top="top[swing]:-100%;opacity: 0;">
		<h3>Educación</h3>
		<p>A menudo son las niñas las que primero abandonan la escuela porque sus padres buscan maneras de aliviar sus cargas económicas, lo que les priva de su derecho fundamental a la educación y de realizarse plenamente. </p>		
	</div>
</div>

<div class="section6" data-anchor-target="#section6"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data-200-bottom="top[swing]:15%; opacity:1"
	data--200-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Las mujeres son líderes y agentes del cambio.</h3>
	<div class="text">Las mujeres suelen ser las primeras que responden ante una crisis, y desempeñan un papel esencial en la sobrevivencia y resiliencia de familias y comunidades. Varios estudios demuestran que cuando las mujeres participan en la acción humanitaria, se beneficia toda la comunidad. Los grupos de mujeres locales también suelen estar en la mejor posición para movilizar el cambio y responder a las crisis. </div>
</div>

<div class="keep-scrolling" data-anchor-target="#section6"
	data-600-bottom="top[sqrt]:-100%; opacity: 0;"
	 data-200-bottom="top[sqrt]:-10%; opacity: 0;"
	data--200-bottom="top[sqrt]:10%; opacity: 1;"
	data--600-bottom="top[swing]:10%; opacity: 1;"
	 data--1000-bottom="top[swing]:-10%; opacity: 0;"
	data--1400-bottom="top[swing]:-100%; opacity: 0;">
	<h4 >VE AQUÍ ALGUNAS DE LAS MUCHAS MANERAS EN LAS QUE ONU MUJERES <br> AYUDA A LAS MUJERES A HACERSE CARGO DE LA SITUACIÓN</h4>
	<div class="arrow" svg-container name="arrow"></div>
</div>
<!--ENDNEW-->
	<lang-menu class="lang" data-0="top[sqrt]:60%; left[sqrt]:50%;" data-300="top[sqrt]:5%; left[sqrt]:5.5%;">
		<span >Español</span>
		<i class="fa fa-caret-down" aria-hidden="true"></i>
		<svg width="118" height="36">
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 0,36 0,0 58.5,0 "/>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 117,36 117,0 58.5,0 "/>
		</svg>
		<div class="options">
			<a href="../en" data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">English</a>
			<hr data-start="border-color:rgb(211,45,51);" data-_section11-start="border-color:rgb(230,154,105);" data-end="border-color:rgb(79,186,228);">
			<a class="second" href="../fr" data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">Français</a>
		</div>
	</lang-menu>

	<header data-0="left[sqrt]:calc(-30% - 54px)" data-300="left[sqrt]:calc(5.5% - 54px)">
		<ul state-menu-desktop>
			<li><a class="first" state="1" href="#" data-menu-top="{{scrollToDesktop.section1}}">Situación actual</a></li>
			<li><a state="2" href="#" data-menu-top="{{scrollToDesktop.section2}}">Impactos</a></li>
			<li><a state="3" href="#" data-menu-top="{{scrollToDesktop.section3}}">Agentes del cambio</a></li>
			<li><a state="4" href="#" data-menu-top="{{scrollToDesktop.section4}}">Compromisos</a></li>
		</ul>
	</header>

	<div class="un-logo-fixed-es"></div>
	<div data-anchor-target="#section2" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data--200-bottom="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg1" svg-container  name="svg1-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section4" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data--200-bottom="bottom:0%;"  data-top-bottom="bottom:-100%;" id="svg2" svg-container  name="svg2-desktop" proportional="0.352"></div>

	<div data-anchor-target="#section6" data-1500-bottom="bottom:-100%;" data-900-bottom="bottom:0%;" data-200-bottom="bottom:0%;"  data--400-bottom="bottom:-100%;" id="svg3" svg-container  name="svg3-desktop" proportional="0.352"></div>

	<div data-anchor-target="#section6" 		
		data--12500-bottom="bottom[sqrt]:-100%;" 
		data--14000-bottom="bottom[sqrt]:0%;" 
		data--15000-bottom="bottom[swing]:0%;" 
		data--16500-bottom="bottom[swing]:-100%;"  id="svg4" svg-container  name="svg4-desktop" proportional="0.352"></div>

	<div id="section7" data-anchor-target="#section6" data-200-bottom="top:100%;" data-bottom="top:0%;" data--10000-bottom="top:0%;" >

		<section data-anchor-target="#section6" data-bottom="top:100%;" data--1000-bottom="top:50%;" data--5000-bottom="top:-100%;">
			<h3>Refugiados sirios, Jordania</h3>
			<p>El programa más importante de dinero-por-trabajo de ONU Mujeres en el campamento de refugiados Za’atari de Jordania aumentó el promedio de ingresos de las trabajadoras a tiempo completo, mejorando la alimentación, la higiene del hogar y la atención sanitaria. </p>
			<hr>
			<span>Crédito: ONU Mujeres/Christopher Herwig</span>
		</section>
		<section data-anchor-target="#section6" data--3000-bottom="top:100%;" data--4000-bottom="top:50%;" data--8000-bottom="top:-100%;">
			<h3>Epidemia del ébola, África occidental</h3>
			<p>Los programas de radio informativos, el apoyo psicosocial y las capacitaciones facilitadas por ONU Mujeres ayudaron a las mujeres a adoptar nuevas estrategias para afrontar, gestionar y frenar la propagación del ébola.  </p>
			<hr>
			<span>Crédito: ONU Mujeres/Emma Vincent </span>
		</section>
		<section data-anchor-target="#section6" data--6000-bottom="top:100%;" data--7000-bottom="top:50%;" data--11000-bottom="top:-100%;">
			<h3>Terremoto, Nepal</h3>
			<p>Cuando un terremoto azotó Nepal en 2015, ONU Mujeres se asoció con grupos de mujeres nacionales y la sociedad civil para elaborar una estrategia de recuperación temprana mediante una “Carta común de las peticiones de las mujeres”. </p>
			<hr>
			<span>Crédito: ONU Mujeres/Samir Jung Thapa</span>
		</section>
		<section data-anchor-target="#section6" data--9000-bottom="top:100%;" data--10000-bottom="top:50%;" data--14000-bottom="top:-100%;">
			<h3>Ciclón, Fiji</h3>
			<p>Tras el ciclón devastador de Fiji en 2016, ONU Mujeres ha trabajado con socias y socios locales para promover oportunidades económicas para las mujeres mediante espacios de mercado. </p>
			<hr>
			<span>Crédito: ONU Mujeres/Murray Lloyd</span>
		</section>

		<div class="subsection first" data-anchor-target="#section6" data-bottom="height:0%;" data--1000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection second" data-anchor-target="#section6" data--3000-bottom="height:0%;" data--4000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection third" data-anchor-target="#section6" data--6000-bottom="height:0%;" data--7000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection fourth" data-anchor-target="#section6" data--9000-bottom="height:0%;" data--10000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
	</div>
	<div id="last-section" data-anchor-target="#section6" data--11500-bottom="top:100%;background-color:rgb(134, 201, 222);" data--13500-bottom="top:0%;" data--18000-bottom="background-color:rgb(79,186,228);">
		<div id="section8"  data-anchor-target="#section6"
			data--11500-bottom="top[sqrt]:100%; opacity: 0;"
			 data--12600-bottom="top[sqrt]:30%; opacity: 0;"  
			data--13000-bottom="top[sqrt]:15%; opacity: 1;" 
			data--15000-bottom="top[swing]:15%; opacity: 1;"
			 data--15400-bottom="top[swing]:0%; opacity: 0;"  
			data--16500-bottom="top[swing]:-100%; opacity: 0;">
			<div class="content">
				<h3 class="title">Catalizar la acción para lograr la igualdad de género.</h3>
				<div class="text">Todas y todos tenemos que dar pasos valientes para facilitar que mujeres y niñas disfruten de sus derechos humanos y su pleno potencial y poner fin a la discriminación en momentos de crisis. Cuando las mujeres participan significativamente, y se abordan sus necesidades directamente, la acción humanitaria es más eficiente y efectiva, se acelera la transición hacia la recuperación, y se mejora la resiliencia de toda la comunidad.</div>
			</div>
		</div>
	</div>
	<div id="section9" slide
		data-anchor-target="#section6"
		data--14500-bottom="top[sqrt]:200%; opacity: 0;"
		 data--16500-bottom="top[sqrt]:65%; opacity: 0;"  
		data--17000-bottom="top[sqrt]:50%; opacity: 1;" 
		data--18500-bottom="top[swing]:50%; opacity: 1;" 
		 data--19000-bottom="top[sqrt]:35%; opacity: 0;"  
		data--20000-bottom="top[swing]:-100%; opacity: 0;">
		<h3 class="title">Los compromisos que debemos realizar</h3>
		<div class="arrow-right arrow-right-desktop">
			<img class="no-hover" src="../assets/img/slide-arrow-desktop.png">
			<img class="hover" src="../assets/img/slide-arrow-desktop-hover.png">
		</div>
		<div class="arrow-left arrow-left-desktop">
			<img class="no-hover" src="../assets/img/slide-arrow-desktop.png">
			<img class="hover" src="../assets/img/slide-arrow-desktop-hover.png">
		</div>
		<section >
			<h3 class="title">Compromiso 1/5:</h3>
			<div class="content">Empoderar a mujeres y niñas como agentes y líderes del cambio, lo que incluye mejorar el apoyo a los grupos locales dirigidos por mujeres para que participen significativamente en la acción humanitaria.</div>
		</section>
		<section >
			<h3 class="title">Compromiso 2/5:</h3>
			<div class="content">Garantizar el acceso universal a la salud sexual y reproductiva y a los derechos reproductivos —según lo acordado de conformidad con el Programa de Acción de la Conferencia Internacional sobre la Población y el Desarrollo y la Plataforma de Acción de Beijing y los documentos finales de sus conferencias de examen— para todas las mujeres y las adolescentes en entornos de crisis.</div>
		</section>
		<section >
			<h3 class="title">Compromiso 3/5:</h3>
			<div class="content">Implementar un enfoque mundial coordinado para evitar la violencia de género y hacerle frente en contextos de crisis, inclusive mediante un Llamado a la acción sobre la protección ante la violencia de género en emergencias.</div>
		</section>
		<section >
			<h3 class="title">Compromiso 4/5:</h3>
			<div class="content">Garantizar que los programas humanitarios sean sensibles al género.</div>
		</section>
		<section >
			<h3 class="title">Compromiso 5/5:</h3>
			<div class="content">Respetar plenamente las políticas humanitarias, los marcos y los documentos legalmente vinculantes en relación con la igualdad de género, el empoderamiento de las mujeres y los derechos de las mujeres.</div>
		</section>
		<div id="svg5" data-anchor-target="#section6"
		data--16500-bottom="top[sqrt]:200%; opacity: 0;" 
		 data--17000-bottom="top[sqrt]:15%; opacity: 0;" 
		data--17500-bottom="top[sqrt]:0%; opacity: 1;" 
		data--18500-bottom="top[swing]:0%; opacity: 1;" 
		data--20000-bottom="top[swing]:0%; opacity: 1;" svg-container  name="svg5-desktop"></div>
	</div>
	<div id="section10" data-anchor-target="#section6"
	    data--19000-bottom="top[sqrt]:100%; opacity: 0;"
		data--19100-bottom="top[sqrt]:0%; opacity: 0;"
		data--19200-bottom="top[sqrt]:0%; opacity: 1;"  >
		<h2 data-anchor-target="#section6"	    
			 data--19200-bottom="transform:translateY(40px); opacity: 0;" 
			data--19600-bottom="transform:translateY(0px); opacity: 1;">Demos el paso por<br> la igualdad de género.</h2>
		<h4 data-anchor-target="#section6"	    
			 data--19400-bottom="transform:translateY(40px); opacity: 0;" 
			data--19800-bottom="transform:translateY(0px); opacity: 1;">Debemos alcanzar un <strong>planeta 50-50</strong> en 2030.</h4>
		<div class="logos" data-anchor-target="#section6"
			 data--19600-bottom="margin-top:40px; opacity: 0;" 
			data--20000-bottom="margin-top:0px; opacity: 1;">
	
		<div class="btn1 share0" ng-click="share0()" data-lang="es">
			<span ><strong>onumujeres.org</strong></span>
			<svg width="190" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="95,36 0,36 0,0 95,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="95,36 190,36 190,0 95,0 "/>
			</svg>
		</div>
		<div class="btn2 share1" ng-click="share1()" data-lang="es">
			<span ></span>
			<svg width="36" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 0,36 0,0 18,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 36,36 36,0 18,0 "/>
			</svg>
		</div>
		<div class="btn3 share2" ng-click="share2()" data-lang="es">
			<span ></span>
			<svg width="36" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 0,36 0,0 18,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 36,36 36,0 18,0 "/>
			</svg>
		</div>
		</div>
	</div>
</div>