<div class="mobile">
	<div id="fixed-elements">
		<burger-menu id="menu-burger" data-400-start="background: rgba(255,255,255,0);" data-700-start="background:rgba(255,255,255,1);" ng-click="clicked = !clicked" >
			<!--<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>-->
			<svg width="89px" height="89px">
				<path id="mov1" d="M35,38 C39,38 41,38 45,38" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
				<path id="mov2" d="M45,38 C49,38 51,38 55,38" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
				<line id="mov3" x1="35" y1="45" x2="45" y2="45" x="0" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);" stroke-opacity="1"></line>
				<line id="mov4" x1="45" y1="45" x2="55" y2="45" x="10" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);" stroke-opacity="1"></line>
				<path id="mov5" d="M35,52 C39,52 41,52 45,52" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
				<path id="mov6" d="M45,52 C49,52 51,52 55,52" fill="none" stroke-width="1px"  data-400-start="stroke: rgb(255,255,255);" data-700-start="stroke:rgb(211,45,51);" data-_section11-start="stroke:rgb(230,154,105);" data-end="stroke:rgb(79,186,228);"></path>
			</svg>
			<div class="text-burger">
				<span 
					data-400-start="color: rgb(255,255,255);" 
					data-700-start="color:rgb(211,45,51);" 
					data-_section11-start="color:rgb(230,154,105);" 
					data-end="color:rgb(79,186,228);" 
					ng-show="clicked">Menú</span>
				<span 
					data-400-start="color: rgb(211,45,51);" 
					data-700-start="color:rgb(211,45,51);" 
					data-_section11-start="color:rgb(230,154,105);" 
					data-end="color:rgb(79,186,228);" 
					ng-show="!clicked">Cerrar</span></div>

		</burger-menu>
		<div id="menu-mobile">
			<div class="options">
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section1}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);" 
						ng-click="clicked = !clicked"><i data-0="display:inline-block;" data-1700="display:none;" class="fa fa-circle" aria-hidden="true"></i>Situación actual<i data-0="display:inline-block;" data-1700="display:none;" class="fa fa-circle" aria-hidden="true"></i></a></div>
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section2}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);"
						ng-click="clicked = !clicked"><i data-0="display:none;" data-1700="display:inline-block;" data-5500="display:none;" class="fa fa-circle" aria-hidden="true"></i>Impactos<i data-0="display:none;" data-1700="display:inline-block;" data-5500="display:none;" class="fa fa-circle" aria-hidden="true"></i></a></div>
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section3}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);"
						ng-click="clicked = !clicked"><i data-0="display:none;" data-5500="display:inline-block;" data-10200="display:none;"  class="fa fa-circle" aria-hidden="true"></i>Agentes del cambio<i data-0="display:none;" data-5500="display:inline-block;" data-10200="display:none;"  class="fa fa-circle" aria-hidden="true"></i></a></div>
				<div class="scroll-burger">
					<a href="#" 
						data-menu-top="{{scrollToMobile.section4}}" 
						data-start="color:rgb(211,45,51);" 
						data-_section11-start="color:rgb(230,154,105);" 
						data-end="color:rgb(79,186,228);"
						ng-click="clicked = !clicked"><i data-0="display:none;" data-10200="display:inline-block;" class="fa fa-circle" aria-hidden="true"></i>Compromisos<i data-0="display:none;" data-10200="display:inline-block;" class="fa fa-circle" aria-hidden="true"></i></a></div>
			</div>
			<div class="lang-section">
				<a href="../en" class="en">English</a>
				<a class="es active" data-start="background:rgb(211,45,51);" data-_section11-start="background:rgb(230,154,105);" data-end="background:rgb(79,186,228);">Español</a>
				<a href="../fr" class="fr">Français</a>
			</div>
		</div>
		<div class="section11" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-700="height:100vh;"
				data-_section11-1100="height:0vh;">
				<div class="img"></div>
			</div>
			
			<div class="text-move" 
				data-_section11-0="bottom:-100%;" 
				data-_section11-700="bottom:100%;">
				<h3>Refugiados sirios, Jordania</h3>
				<div class="content">El programa más importante de dinero-por-trabajo de ONU Mujeres en el campamento de refugiados Za’atari de Jordania aumentó el promedio de ingresos de las trabajadoras a tiempo completo, mejorando la alimentación, la higiene del hogar y la atención sanitaria.
				<hr>
					<div class="credits">Crédito: ONU Mujeres/Christopher Herwig</div>
				</div>

			</div>
		</div>

		<div class="section12" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-1700="height:100vh;"
				data-_section11-2100="height:0vh;">
				<div class="img"></div>
			</div>
			<div class="text-move" 
				data-_section11-1000="bottom:-100%;" 
				data-_section11-1700="bottom:100%;">
				<h3>Epidemia del ébola, África occidental</h3>
				<div class="content">Los programas de radio informativos, el apoyo psicosocial y las capacitaciones facilitadas por ONU Mujeres ayudaron a las mujeres a adoptar nuevas estrategias para afrontar, gestionar y frenar la propagación del ébola. 
				<hr> 
					<div class="credits">Crédito: ONU Mujeres/Emma Vincent </div>
				</div>
			</div>
		</div>

		<div class="section13" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-2700="height:100vh;"
				data-_section11-3100="height:0vh;">
				<div class="img"></div>
			</div>
			<div class="text-move" 
				data-_section11-2000="bottom:-100%;" 
				data-_section11-2700="bottom:100%;">
				<h3>Terremoto, Nepal</h3>
				<div class="content">Cuando un terremoto azotó Nepal en 2015, ONU Mujeres se asoció con grupos de mujeres nacionales y la sociedad civil para elaborar una estrategia de recuperación temprana mediante una “Carta común de las peticiones de las mujeres”.  
				<hr>
					<div class="credits">Crédito: ONU Mujeres/Samir Jung Thapa</div>
				</div>
			</div>
		</div>
	<!--transform: matrix3d(0.25,0,0.00,0,0.00,-0.8,0.00,0.004,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);-->
		<div class="section14" 
			data-_section11--300="top:100%;" 
			data-_section11-100="top:0%;"
			data-_section11-4100="top:0%;"
			data-_section11-4200="top:-100%;">
			<div class="img-container" 		
				data-_section11-3700="height:100vh;"
				data-_section11-4100="height:0vh;">
				<div class="img"></div>
			</div>
			<div class="text-move" 
				data-_section11-3000="bottom:-100%;" 
				data-_section11-3700="bottom:100%;">
				<h3>Ciclón, Fiji</h3>
				<div class="content">Tras el ciclón devastador de Fiji en 2016, ONU Mujeres ha trabajado con socias y socios locales para promover oportunidades económicas para las mujeres mediante espacios de mercado.  
				<hr>
					<div class="credits">Crédito: ONU Mujeres/Murray Lloyd</div>
				</div>
			</div>
		</div>

		<div id="section12"
			data-_section11-3750="top:100%;" 
			data-_section11-4150="top:0%;"
			data-_section11-4550="top:-150%;">
			<h3 class="title" data-_section11-3800="top:80px; opacity:0;" data-_section11-3900="top:0px; opacity:1;">Catalizar la acción para lograr la igualdad de género.</h3>
			<div class="content" data-_section11-3900="top:80px; opacity:0;" data-_section11-4000="top:0px; opacity:1;">Todas y todos tenemos que dar pasos valientes para facilitar que mujeres y niñas disfruten de sus derechos humanos y su pleno potencial y poner fin a la discriminación en momentos de crisis. Cuando las mujeres participan significativamente, y se abordan sus necesidades directamente, la acción humanitaria es más eficiente y efectiva, se acelera la transición hacia la recuperación, y se mejora la resiliencia de toda la comunidad.</div>
		</div>

		<div id="section-between-12-13" svg-container  name="svg4"
			data-_section11-4100="top:100%;" 
			data-_section11-4500="top:0%;"
			data-_section11-4900="top:-100%;">
			
		</div>

		<div id="section13" slide
			data-_section11-4300="top:100%;" 
			data-_section11-4700="top:0%;"
			data-_section11-4800="top:0%;"
			data-_section11-5200="top:-200%;">
			<h3 class="title"  data-_section11-4200="right:20px; opacity:0;" data-_section11-4300="right:0px; opacity:1;">Los compromisos que debemos realizar</h3>
			<div class="arrow-right"><img src="../assets/img/slide-arrow.png"></div>
			<div class="arrow-left"><img src="../assets/img/slide-arrow.png"></div>
			<section >
				<h3 class="title">Compromiso 1/5:</h3>
				<div class="content">Empoderar a mujeres y niñas como agentes y líderes del cambio, lo que incluye mejorar el apoyo a los grupos locales dirigidos por mujeres para que participen significativamente en la acción humanitaria.</div>
			</section>
			<section >
				<h3 class="title">Compromiso 2/5:</h3>
				<div class="content">Garantizar el acceso universal a la salud sexual y reproductiva y a los derechos reproductivos —según lo acordado de conformidad con el Programa de Acción de la Conferencia Internacional sobre la Población y el Desarrollo y la Plataforma de Acción de Beijing y los documentos finales de sus conferencias de examen— para todas las mujeres y las adolescentes en entornos de crisis.</div>
			</section>
			<section >
				<h3 class="title">Compromiso 3/5:</h3>
				<div class="content">Implementar un enfoque mundial coordinado para evitar la violencia de género y hacerle frente en contextos de crisis, inclusive mediante un Llamado a la acción sobre la protección ante la violencia de género en emergencias.</div>
			</section>
			<section >
				<h3 class="title">Compromiso 4/5:</h3>
				<div class="content">Garantizar que los programas humanitarios sean sensibles al género.</div>
			</section>
			<section >
				<h3 class="title">Compromiso 5/5:</h3>
				<div class="content">Respetar plenamente las políticas humanitarias, los marcos y los documentos legalmente vinculantes en relación con la igualdad de género, el empoderamiento de las mujeres y los derechos de las mujeres.</div>
			</section>
		</div>

		<div id="section14"
			data-_section11-4650="top:100%;" 
			data-_section11-5050="top:0%;">
			<h3 class="title" data-_section11-5000="opacity:0;top:50px;" data-_section11-5100="opacity:1;top:0px;">Demos el paso por la igualdad de género.</h3>
			<h4 class="title" data-_section11-5000="opacity:0;top:50px;" data-_section11-5100="opacity:1;top:0px;">Debemos alcanzar un <strong>planeta 50-50</strong> en 2030</h4>
			<div class="icons" data-_section11-5050="opacity:0;top:65%;" data-_section11-5150="opacity:1;top:55%;">
				<a ng-click="share0()" data-lang="es" class="more-es share0"><span>más</span></a>
				<a class="icon-1 share1" ng-click="share1()" data-lang="es"></a>
				<a class="icon-2 share2" ng-click="share2()" data-lang="es"></a>
			</div>
			<div class="un-logo-es" data-_section11-5100="opacity:0;bottom:0px;" data-_section11-5200="opacity:1;bottom:20px;"></div>
			<!--<div class="un-logo-text" data-_section11-5100="opacity:0;bottom:0px;" data-_section11-5200="opacity:1;bottom:20px;"></div>-->
		</div>
	</div>
</div>