<div id="fixed-elements">
<!--NEW-->
<div class="section2" data-anchor-target="#section2"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data--200-bottom="top[swing]:15%; opacity:1"
	data--600-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Nous faisons face à un défi humanitaire de dimension planétaire.</h3>
	<div class="text">Du conflit en cours en Syrie aux efforts de relèvement du séisme au Népal en passant par l’épidémie d’Ebola en Afrique de l’Ouest, la souffrance humaine a atteint des niveaux alarmants dans des situations où les femmes et les filles sont affectées de manière disproportionnée. Et pourtant, lorsqu’il s’agit de fournir une assistance humanitaire, l’égalité des sexes n’est pas considérée comme prioritaire.</div>
</div>
<div class="section3" data-anchor-target="#section3"
	data-bottom-top="top:150%;"
	data-200-bottom="top:50%;"
	data--400-top="top:50%;opacity:1;"
	data-top-bottom="top:-100%;opacity:0;">
	<div class="content">
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number" screen-detector type="number" value="200.5" delay="0" time="2">0.0</div>
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number-stat" screen-detector>millions</div>
		<div data-anchor-target="#section3" 
			data--400-top="opacity:0; top:50px;" 
			data--600-top="opacity:1; top:0px"
			data--1400-top="opacity:1; top:0px;" 
			data--1600-top="opacity:0; top:-50px" class="number-content" screen-detector>de personnes ont été touchées par des catastrophes naturelles ou déplacées par des conflits et la violence en 2014.</div>

		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px" class="number" screen-detector type="number" value="50" delay="0" time="2">0</div>
		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px" class="number-stat" screen-detector>pour cent </div>
		<div data-anchor-target="#section3" 
			data--600-top="opacity:0; top:50px;" 
			data--800-top="opacity:1; top:0px"
			data--1600-top="opacity:1; top:0px;" 
			data--1800-top="opacity:0; top:-50px" class="number-content" screen-detector>des personnes réfugiées sont des femmes et des filles.</div>

		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px" class="number" screen-detector><span style="font-size:40px;"></span><span screen-detector type="number" value="4" delay="0" time="3">0</span></div>
		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px" class="number-stat" screen-detector>pour cent</div>
		<div data-anchor-target="#section3" 
			data--800-top="opacity:0; top:50px;" 
			data--1000-top="opacity:1; top:0px"
			data--1800-top="opacity:1; top:0px;" 
			data--2000-top="opacity:0; top:-50px" class="number-content" screen-detector>des projets interagences des Nations Unies ont ciblé les femmes et les filles en 2014.</div>

		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"  class="number" screen-detector><span style="font-size:40px;"></span><span screen-detector type="number" value="1" delay="0" time="2">0</span></div>
		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"  class="number-stat" screen-detector>pour cent</div>
		<div data-anchor-target="#section3" 
			data--1000-top="opacity:0; top:50px;" 
			data--1200-top="opacity:1; top:0px"
			data--2000-top="opacity:1; top:0px;" 
			data--2200-top="opacity:0; top:-50px"  class="number-content" screen-detector>de tous les fonds en faveur des États fragiles—pays les plus affectés par les catastrophes—a été versé aux groupes œuvrant pour les femmes ou aux ministères de la Condition féminine en 2015.</div>
	</div>
</div>
<div class="section4" data-anchor-target="#section4"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data--200-bottom="top[swing]:15%; opacity:1"
	data--600-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">En situation de crise, les inégalités entre les sexes sont souvent exacerbées.</h3>
	<div class="text">Il s’agit notamment de l’augmentation des violences basées sur le genre, de l’exclusion des services vitaux et des processus de décision fondés sur des normes sociales discriminatoires, telles que les hiérarchies en matière d’alimentation et les déplacements limités pour obtenir de l’aide en raison de l’insécurité physique.</div>
</div>
<div class="keep-scrolling" data-anchor-target="#section5"
	data-bottom-top="top[sqrt]:-100%;;opacity:0"
	data-600-top="top[sqrt]:0%;opacity:0"
	data-400-top="top[sqrt]:10%;opacity:1"
	data--100-top="top:10%;;opacity:1"
	data--1100-top="top:-100%;;opacity:0">
	<h4 >JETONS UN COUP D’ŒIL <br> À CERTAINS DE CES IMPACTS</h4>
	<div class="arrow" svg-container name="arrow"></div>
</div>
<div class="line-center" data-anchor-target="#section5"
	data-400-top="top:100%;"
	data-top="top:50%;"
	data--400-top="top:0%;"
	data--6200-top="top:0%;"
	data--6800-top="top:-100%;"></div>

<div class="section5">
	<div class="left white" data-anchor-target="#section5"
	data-top="top[sqrt]:100%; opacity: 0;"
	 data--100-top="top[sqrt]:35%; opacity: 0;"
	data--500-top="top[sqrt]:20%; opacity: 1;"
	data--1500-top="top[swing]:20%; opacity: 1;"
	 data--1900-top="top[swing]:5%; opacity: 0;"
	data--2500-top="top[swing]:-100%; opacity: 0;">
		<h3>Santé</h3>
		<p>L’accès aux soins de santé est limité pendant et après une crise, ce qui accroît les taux de mortalité infantile et de malnutrition, surtout pour les mères et les nourrissons.</p>		
	</div>
	<div class="right color one" data-anchor-target="#section5"
	data--300-top="top[sqrt]:100%; opacity:0; "
	 data--500-top="top[sqrt]:40%; opacity:0; "
	data--900-top="top[sqrt]:25%; opacity:1; "
	data--1500-top="top[swing]:25%; opacity:1; "
	 data--1900-top="top[swing]:10%; opacity:0; "
	data--2500-top="top[swing]:-100%; opacity:0; ">
		<h3><span screen-detector type="number" value="60" delay="0" time="2">0</span></h3>
		<p><span> pour cent des cas de mortalité maternelle qui pourraient être </span>  évités se produisent dans des situations de conflit, de déplacements et de catastrophes naturelles.</p>	
		<div class="svg-section stat-1"  svg-container name="stat1-desktop-fr"></div>	
	</div>
	<!--CHANGE-->
	<div class="left color two" data-anchor-target="#section5"
	data--2000-top="top[sqrt]:100%; opacity:0; "
	 data--2200-top="top[sqrt]:40%; opacity:0; "
	data--2600-top="top[sqrt]:25%; opacity:1; "
	data--3000-top="top[swing]:25%; opacity:1; "
	 data--3400-top="top[swing]:10%; opacity:0; "
	data--4000-top="top[swing]:-100%; opacity:0; ">
		<h3>1<span class="small-title"> femme sur </span><span screen-detector type="number" value="5" delay="0" time="2">0</span></h3>
		<p><span>réfugiée ou déplacée dans des situations humanitaires difficiles</span> a été victime de violences basées sur le genre—ce qui est vraisemblablement une sous-estimation, étant donné les obstacles liés à la divulgation de ces faits.</p>	
		<div class="svg-section stat-2"  svg-container name="stat2-desktop-fr"></div>		
	</div>
	<div class="right white" data-anchor-target="#section5"
	data--1700-top="top[sqrt]:100%;opacity: 0;"
	 data--1900-top="top[sqrt]:35%;opacity: 0;"
	data--2300-top="top[sqrt]:20%;opacity: 1;"
	data--3000-top="top[swing]:20%;opacity: 1;"
	 data--3400-top="top[swing]:5%;opacity: 0;"
	data--4000-top="top[swing]:-100%;opacity: 0;">
		<h3>La violence basée sur le genre</h3>
		<p>La violence basée sur le genre, y compris le viol et les mariages précoces et forcés, augmente souvent au cours de situations d’urgence, lorsque les mécanismes de protection se détériorent, privant ainsi les femmes et les filles de leurs droits fondamentaux leur permettant de vivre à l’abri de la violence.</p>		
	</div>
<!--CHANGE-->
	<div class="left white" data-anchor-target="#section5"
	data--3400-top="top[sqrt]:100%;opacity: 0;"
	 data--3600-top="top[sqrt]:35%;opacity: 0;"
	data--4000-top="top[sqrt]:20%;opacity: 1;"
	data--4700-top="top[swing]:20%;opacity: 1;"
	 data--5100-top="top[swing]:5%;opacity: 0;"
	data--5700-top="top[swing]:-100%;opacity: 0;">
		<h3>Moyens de subsistance</h3>
		<p>Les situations d’urgence impactent souvent les moyens de subsistance des femmes le plus fortement, en partie parce qu’elles sont généralement actives dans le secteur informel, ce qui augmente leurs risques d’avoir à se livrer à un travail mal rémunéré ou à des rapports sexuels à caractère transactionnel.</p>		
	</div>
	<div class="right color three" data-anchor-target="#section5"
	data--3700-top="top[sqrt]:100%; opacity:0; "
	 data--3900-top="top[sqrt]:40%; opacity:0; "
	data--4300-top="top[sqrt]:25%; opacity:1; "
	data--4700-top="top[swing]:25%; opacity:1; "
	 data--5100-top="top[swing]:10%; opacity:0; "
	data--5700-top="top[swing]:-100%; opacity:0; ">
		<h3><span class="small-title">Jusqu’à </span><span screen-detector type="number" value="30" delay="0" time="2">0</span></h3>
		<p><span>des ménages yéménites déplacés au Yémen sont dirigés par des femmes,</span> contre un taux d’environ 9 pour cent avant la situation actuelle.</p>	
		<div class="svg-section stat-3"  svg-container name="stat3-desktop-fr"></div>		
	</div>
	<!--CHANGE-->
	<div class="left color three" data-anchor-target="#section5"
	data--5400-top="top[sqrt]:100%; opacity:0; "
	 data--5600-top="top[sqrt]:40%; opacity:0; "
	data--6000-top="top[sqrt]:25%; opacity:1; "
	data--6400-top="top[swing]:25%; opacity:1; "
	 data--6800-top="top[swing]:10%; opacity:0; "
	data--7400-top="top[swing]:-100%; opacity:0; ">
		<h3><span class="small-title">Les filles sont </span><span screen-detector type="number" value="2.5" delay="0" time="2">0</span></h3>
		<p><span>fois plus susceptibles d’être déscolarisées dans les pays touchés par des conflits </span>que leurs homologues des pays sans conflit.</p>
		<div class="svg-section stat-4"  svg-container name="stat4-desktop-fr"></div>			
	</div>
	<div class="right white" data-anchor-target="#section5"
	data--5100-top="top[sqrt]:100%;opacity: 0;"
	 data--5300-top="top[sqrt]:35%;opacity: 0;"
	data--5700-top="top[sqrt]:20%;opacity: 1;"
	data--6400-top="top[swing]:20%;opacity: 1;"
	 data--6800-top="top[swing]:5%;opacity: 0;"
	data--7400-top="top[swing]:-100%;opacity: 0;">
		<h3>Éducation</h3>
		<p>Lorsque les parents doivent trouver des moyens pour affronter leurs difficultés financières, les filles sont souvent les premières à être retirées de l’école, ce qui les prive de leurs droits fondamentaux à une éducation et à la réalisation de leur plein potentiel dans la vie.</p>		
	</div>
</div>
<!---->
<div class="section6" data-anchor-target="#section6"
	data-bottom-top="top[sqrt]:150%; opacity:0"
	data-600-top="top[sqrt]:30%;opacity:0"
	data-200-top="top[sqrt]:15%; opacity:1"
	data-200-bottom="top[swing]:15%; opacity:1"
	data--200-bottom="top[swing]:0%;opacity:0"
	data-top-bottom="top[swing]:-100%; opacity:0">
	<h3 class="title">Les femmes sont des leaders et agentes du changement.</h3>
	<div class="text">Les femmes sont souvent les premières à répondre à une situation d’urgence et à jouer un rôle majeur dans la survie et la résilience des familles et des communautés. Des études montrent que lorsque les femmes sont associées à l’action humanitaire, l’ensemble de la communauté en bénéficie. Par ailleurs, les groupes de femmes sont également souvent mieux placés pour faire évoluer leur situation et réagir aux urgences.</div>
</div>

<div class="keep-scrolling" data-anchor-target="#section6"
	data-600-bottom="top[sqrt]:-100%; opacity: 0;"
	 data-200-bottom="top[sqrt]:-10%; opacity: 0;"
	data--200-bottom="top[sqrt]:10%; opacity: 1;"
	data--600-bottom="top[swing]:10%; opacity: 1;"
	 data--1000-bottom="top[swing]:-10%; opacity: 0;"
	data--1400-bottom="top[swing]:-100%; opacity: 0;">
	<h4 >VOICI QUELQUES-UNS DES MOYENS QU’UTILISE ONU FEMMES <br> POUR AIDER LES FEMMES À PRENDRE LA SITUATION EN MAIN</h4>
	<div class="arrow" svg-container name="arrow"></div>
</div>
<!--ENDNEW-->
	<lang-menu class="lang" data-0="top[sqrt]:60%; left[sqrt]:50%;" data-300="top[sqrt]:5%; left[sqrt]:5.5%;">
		<span >Français</span>
		<i class="fa fa-caret-down" aria-hidden="true"></i>
		<svg width="118" height="36">
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 0,36 0,0 58.5,0 "/>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 117,36 117,0 58.5,0 "/>
		</svg>
		<div class="options">
			<a href="../en" data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">English</a>
			<hr data-start="border-color:rgb(211,45,51);" data-_section11-start="border-color:rgb(230,154,105);" data-end="border-color:rgb(79,186,228);">
			<a class="second" href="../es" data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">Español</a>
		</div>
	</lang-menu>

	<header data-0="left[sqrt]:calc(-30% - 54px)" data-300="left[sqrt]:calc(5.5% - 54px)">
		<ul state-menu-desktop>
			<li><a class="first" state="1" href="#" data-menu-top="{{scrollToDesktop.section1}}">Situation actuelle</a></li>
			<li><a state="2" href="#" data-menu-top="{{scrollToDesktop.section2}}">Impacts</a></li>
			<li><a state="3" href="#" data-menu-top="{{scrollToDesktop.section3}}">Agents du changement</a></li>
			<li><a state="4" href="#" data-menu-top="{{scrollToDesktop.section4}}">Engagements</a></li>
		</ul>
	</header>
	<div class="un-logo-fixed-fr"></div>
	<div data-anchor-target="#section2" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data--200-bottom="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg1" svg-container  name="svg1-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section4" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data--200-bottom="bottom:0%;"  data-top-bottom="bottom:-100%;" id="svg2" svg-container  name="svg2-desktop" proportional="0.352"></div>

	<div data-anchor-target="#section6" data-1500-bottom="bottom:-100%;" data-900-bottom="bottom:0%;" data-200-bottom="bottom:0%;"  data--400-bottom="bottom:-100%;" id="svg3" svg-container  name="svg3-desktop" proportional="0.352"></div>

	<div data-anchor-target="#section6" 		
		data--12500-bottom="bottom[sqrt]:-100%;" 
		data--14000-bottom="bottom[sqrt]:0%;" 
		data--15000-bottom="bottom[swing]:0%;" 
		data--16500-bottom="bottom[swing]:-100%;"  id="svg4" svg-container  name="svg4-desktop" proportional="0.352"></div>

	<div id="section7" data-anchor-target="#section6" data-200-bottom="top:100%;" data-bottom="top:0%;" data--10000-bottom="top:0%;" >

		<section data-anchor-target="#section6" data-bottom="top:100%;" data--1000-bottom="top:50%;" data--5000-bottom="top:-100%;">
			<h3>Réfugiés Syriens, Jordanie</h3>
			<p>Le plus important programme « argent contre travail » d’ONU Femmes pour les femmes vivant dans le camp de personnes réfugiées de Za'atari en Jordanie a permis d’augmenter la moyenne des revenus de celles qui travaillent à temps plein, améliorant ainsi le régime alimentaire des ménages, l’hygiène à domicile et les soins de santé.</p>
			<hr>
			<span>Crédit : ONU Femmes/Christopher Herwig</span>
		</section>
		<section data-anchor-target="#section6" data--3000-bottom="top:100%;" data--4000-bottom="top:50%;" data--8000-bottom="top:-100%;">
			<h3>Épidémie d’Ebola, <br> en Afrique de l’Ouest</h3>
			<p>Des programmes radiophoniques informationnels, un soutien psychosocial et des formations organisées par ONU Femmes ont aidé les femmes à adopter de nouvelles stratégies leur ayant permis de répondre, de faire face et de freiner la propagation du virus Ebola.</p>
			<hr>
			<span>Crédit : ONU Femmes/Emma Vincent</span>
		</section>
		<section data-anchor-target="#section6" data--6000-bottom="top:100%;" data--7000-bottom="top:50%;" data--11000-bottom="top:-100%;">
			<h3>Tremblement de terre au Népal</h3>
			<p>Lorsqu’un tremblement de terre a secoué le Népal en 2015, ONU Femmes a conclu un partenariat avec des groupes de femmes et la société civile de ce pays pour préparer une stratégie de relèvement rapide en adoptant une « Charte commune des demandes des femmes ».</p>
			<hr>
			<span>Crédit : ONU Femmes/Samir Jung Thapa</span>
		</section>
		<section data-anchor-target="#section6" data--9000-bottom="top:100%;" data--10000-bottom="top:50%;" data--14000-bottom="top:-100%;">
			<h3>Cyclone aux îles Fidji</h3>
			<p>À la suite du terrible cyclone qui a frappé les Fidji en 2016, ONU Femmes a travaillé avec des partenaires locaux pour trouver des opportunités pour les femmes à travers les marchés.</p>
			<hr>
			<span>Crédit : ONU Femmes/Murray Lloyd</span>
		</section>

		<div class="subsection first" data-anchor-target="#section6" data-bottom="height:0%;" data--1000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection second" data-anchor-target="#section6" data--3000-bottom="height:0%;" data--4000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection third" data-anchor-target="#section6" data--6000-bottom="height:0%;" data--7000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection fourth" data-anchor-target="#section6" data--9000-bottom="height:0%;" data--10000-bottom="height:100%;">
			<div class="gradient-menu"></div>
			<div class="content"></div>
			<div class="img"></div>
		</div>
	</div>
	<div id="last-section" data-anchor-target="#section6" 
		data--11500-bottom="top:100%;background-color:rgb(134, 201, 222);" 
		data--13500-bottom="top:0%;" 
		data--18000-bottom="background-color:rgb(79,186,228);">
		<div id="section8" data-anchor-target="#section6"
			data--11500-bottom="top[sqrt]:100%; opacity: 0;"
			 data--12600-bottom="top[sqrt]:30%; opacity: 0;"  
			data--13000-bottom="top[sqrt]:15%; opacity: 1;" 
			data--15000-bottom="top[swing]:15%; opacity: 1;"
			 data--15400-bottom="top[swing]:0%; opacity: 0;"  
			data--16500-bottom="top[swing]:-100%; opacity: 0;">
			<div class="content">
				<h3 class="title">Catalyser les actions pour l’égalité des sexes.</h3>
				<div class="text">Ensemble, nous devons prendre des mesures audacieuses pour permettre aux femmes et aux filles de réaliser leur plein potentiel et leurs droits humains, et mettre ainsi fin à la discrimination qui prévaut dans les situations d’urgence. Quand les femmes s’engagent pleinement et une réponse est apportée à leurs besoins, l’action humanitaire est plus efficace et effective, le processus de relèvement s’accélère et la résilience de toute la communauté s’améliore.</div>
			</div>
		</div>
	</div>
	<div id="section9" slide
		data-anchor-target="#section6"
		data--14500-bottom="top[sqrt]:200%; opacity: 0;"
		 data--16500-bottom="top[sqrt]:65%; opacity: 0;"  
		data--17000-bottom="top[sqrt]:50%; opacity: 1;" 
		data--18500-bottom="top[swing]:50%; opacity: 1;" 
		 data--19000-bottom="top[sqrt]:35%; opacity: 0;"  
		data--20000-bottom="top[swing]:-100%; opacity: 0;">
		<h3 class="title">Les engagements que nous devons prendre</h3>
		<div class="arrow-right arrow-right-desktop">
			<img class="no-hover" src="../assets/img/slide-arrow-desktop.png">
			<img class="hover" src="../assets/img/slide-arrow-desktop-hover.png">
		</div>
		<div class="arrow-left arrow-left-desktop">
			<img class="no-hover" src="../assets/img/slide-arrow-desktop.png">
			<img class="hover" src="../assets/img/slide-arrow-desktop-hover.png">
		</div>
		<section >
			<h3 class="title">Engagement 1/5:</h3>
			<div class="content">Autonomiser les femmes et les filles en tant que dirigeantes et agentes du changement, en augmentant le soutien aux groupes menés par des femmes au niveau local, pour leur permettre de participer pleinement dans l’action humanitaire.</div>
		</section>
		<section >
			<h3 class="title">Engagement 2/5:</h3>
			<div class="content">Garantir l’accès universel à la santé sexuelle et procréative et aux droits de procréation, tels que convenus dans le Programme d’action de la Conférence internationale sur la population et le développement et le Programme d’action de Beijing, ainsi que dans les documents finals de leurs conférences d’examen pour toutes les femmes et les adolescentes devant faire face à des situations de crise.</div>
		</section>
		<section >
			<h3 class="title">Engagement 3/5:</h3>
			<div class="content">Mettre en œuvre une stratégie mondiale coordonnée pour prévenir et intervenir face à la violence basée sur le genre dans les situations de crise, y compris à travers l’Appel à l’action pour la protection contre la violence basée sur le genre dans les situations d’urgence.</div>
		</section>
		<section >
			<h3 class="title">Engagement 4/5:</h3>
			<div class="content">Garantir que la programmation humanitaire tienne compte des questions de genre.</div>
		</section>
		<section >
			<h3 class="title">Engagement 5/5:</h3>
			<div class="content">Se conformer pleinement aux politiques, aux cadres et aux documents légalement contraignants relatifs à la question humanitaire et liés à l’égalité des sexes, à l’autonomisation des femmes et à leurs droits.</div>
		</section>
		<div id="svg5" data-anchor-target="#section6"
		data--16500-bottom="top[sqrt]:200%; opacity: 0;" 
		 data--17000-bottom="top[sqrt]:15%; opacity: 0;" 
		data--17500-bottom="top[sqrt]:0%; opacity: 1;" 
		data--18500-bottom="top[swing]:0%; opacity: 1;" 
		data--20000-bottom="top[swing]:0%; opacity: 1;" svg-container  name="svg5-desktop"></div>
	</div>
	<div id="section10" data-anchor-target="#section6"
	    data--19000-bottom="top[sqrt]:100%; opacity: 0;"
		data--19100-bottom="top[sqrt]:0%; opacity: 0;"
		data--19200-bottom="top[sqrt]:0%; opacity: 1;"  >
		<h2 data-anchor-target="#section6"	    
			 data--19200-bottom="transform:translateY(40px); opacity: 0;" 
			data--19600-bottom="transform:translateY(0px); opacity: 1;">
			Franchissons le pas <br> pour l'égalité des sexes. 
		</h2>
		<h4 data-anchor-target="#section6"	    
			 data--19400-bottom="transform:translateY(40px); opacity: 0;" 
			data--19800-bottom="transform:translateY(0px); opacity: 1;">
			Nous devons atteindre un <strong>Planète 50-50</strong> d'ici 2030.
		</h4>
		<div class="logos" data-anchor-target="#section6"
			 data--19600-bottom="margin-top:40px; opacity: 0;" 
			data--20000-bottom="margin-top:0px; opacity: 1;">
	
		<div class="btn1 share0" ng-click="share0()" data-lang="fr">
			<span ><strong>onufemmes.org</strong></span>
			<svg width="190" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="95,36 0,36 0,0 95,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="95,36 190,36 190,0 95,0 "/>
			</svg>
		</div>
		<div class="btn2 share1" ng-click="share1()" data-lang="fr">
			<span ></span>
			<svg width="36" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 0,36 0,0 18,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 36,36 36,0 18,0 "/>
			</svg>
		</div>
		<div class="btn3 share2" ng-click="share2()" data-lang="fr">
			<span ></span>
			<svg width="36" height="36">
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 0,36 0,0 18,0 "/>
				<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,36 36,36 36,0 18,0 "/>
			</svg>
		</div>
		</div>
	</div>
</div>