<div id="fixed-elements">
	<a class="lang" data-0="top:60%; left:50%;" data-300="top:5%; left:5.5%;">English</a>
	<header>
		<ul>
			<li class="active">Today’s Situation</li>
			<li>Gender Impacts</li>
			<li>Agents of change</li>
			<li>Commitments</li>
		</ul>
	</header>
	<!--<div data-0="bottom:-100%;" data-500="bottom:0%;" data-1300="bottom:0%;" data-1700="bottom:-100%;" id="svg1" svg-container  name="svg1-desktop" proportional="0.352"></div>
	<div data-0="bottom:-100%;" data-2500="bottom:0%;" data-3300="bottom:0%;" data-3700="bottom:-100%;" id="svg2" svg-container  name="svg2-desktop" proportional="0.352"></div>-->
	<div data-anchor-target="#section2" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data-center="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg1" svg-container  name="svg1-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section4" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data-center="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg2" svg-container  name="svg2-desktop" proportional="0.352"></div>
	
</div>