<div id="the-content">
	<div id="section1">
		<h2 id="animation-title" class="title">Cerrando la brecha de género <br> en la acción humanitaria</h2>

		<span class="scroll-btn">
			<span class="text" style="left: -38%;">Desplazar</span>
			<span class="mouse">
				<span></span>
			</span>
		</span>
	</div>
	<div id="section2" class="margin-ajust">
		<div class="content">

		</div>
	</div>
	<div id="section3">
	</div>
	<div id="section4">
	</div>
	<div id="section5">
	</div>
	<div id="section6"> 
	</div>
</div>