<div id="the-content">
<a href="#" data-menu-top="{{test}}">{{test}}</a>
	<div id="section1">
		<h2 id="animation-title" class="title">Closing the Gender Gap in <br> Humanitarian Action</h2>

		<span class="scroll-btn">
			<span class="text">Scroll to learn more</span>
			<span class="mouse">
				<span></span>
			</span>
		</span>
	</div>
	<div id="section2" class="margin-ajust">
		<div class="content">

		</div>
	</div>
	<div id="section3">
		<!--<div class="content">
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number" screen-detector type="number" value="200.5" delay="0" time="2">0.0</div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-stat" screen-detector>million people</div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-content" screen-detector>were affected by natural disasters or displaced by conflict and violence in 2014.</div>

			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number" screen-detector type="number" value="50" delay="0" time="2">0</div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-stat" screen-detector>per cent</div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-content" screen-detector>of refugees are women.</div>

			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number" screen-detector>only <span screen-detector type="number" value="4" delay="0" time="3">0</span></div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-stat" screen-detector>per cent</div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-content" screen-detector>of projects in UN inter-agency appeals were targeted at women and girls.</div>

			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number" screen-detector>just <span screen-detector type="number" value="1" delay="0" time="2">0</span></div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-stat" screen-detector>per cent</div>
			<div data-100-bottom="opacity:0; top:30px" data--50-bottom="opacity:1; top:0px" class="number-content" screen-detector>of all funding to fragile states — most impacted by disasters — went to women’s groups or women’s ministries</div>
		</div>-->
	</div>
	<div id="section4">
		<!--<div class="content">
			<h3 class="title">When crises strike, gender inequalities are often exacerbated</h3>
			<div class="text">These include: increased levels of genderbased violence, exclusion from life-saving services and decision-making processes due to discriminatory social norms, such as food hierarchies, and limited mobility to get help due to physical insecurity.</div>
		</div>-->
	</div>
	<div id="section5">
		<!--<span class="line-center" data-bottom="top: 0%;" data--1000-bottom="top:-25%;"></span>-->
		<!--<div class="subsection left first">
			<div class="white">
				<h3>Health</h3>
				<p>Access to healthcare is limited during and after a crisis, increasing mortality and malnutrition rates, particularly for mothers and infants.</p>
			</div>
			<div class="color">
				<h3><span screen-detector type="number" value="60" delay="0" time="2">0</span></h3>
				<p class="stat-content"><span>per cent of preventable maternal mortality deaths</span> take place in settings of conflict, displacement and natural disasters. </p>
				<div class="svg-section stat-1"  svg-container name="stat1">
					
				</div>
			</div>
		</div>
		<div class="subsection right second">
			<div class="white">
				<h3>Gender-based violence</h3>
				<p>Gender-based violence, including rape and early and forced marriage, often increases during crises when protection mechanisms deteriorate, depriving women and girls the fundamental rights to live free from violence. </p>
			</div>
			<div class="color">
				<h3>1<span class="small-title">in</span>5</h3>
				<p class="stat-content"><span>refugees or displaced women in complex humanitarian settings</span> are estimated to have experienced sexual violence — likely an underestimation given the barriers associated with disclosure.</p>
				<div class="svg-section stat-2"  svg-container name="stat2">
					
				</div>
			</div>
		</div>
		<div class="subsection left third">
			<div class="white">
				<h3>Livelihoods</h3>
				<p>Crises often hit women’s livelihoods hardest, in part also because they tend to be engaged in informal sectors, increasing their risk of engaging in poorly paid work or transactional sex.</p>
			</div>
			<div class="color">
				<h3><span class="small-title">Up to </span><span screen-detector type="number" value="30" delay="0" time="2">0</span></h3>
				<p class="stat-content"><span>per cent of internally displaced households in Yemen are female headed,</span> compared to approximately 9 per cent before the current crisis.</p>
				<div class="svg-section stat-3"  svg-container name="stat3">
					
				</div>
			</div>
		</div>
		<div class="subsection right fourth">
			<div class="white">
				<h3>Education</h3>
				<p>Girls are often the ﬁrst to be pulled out of school as parents ﬁnd ways to alleviate economic burdens, depriving them the fundamental rights to education and the realization of their full potential in life.</p>
			</div>
			<div class="color">
				<h3><span class="small-title">Girls are </span><span screen-detector type="number" value="2.5" delay="0" time="2">0.0</span></h3>
				<p class="stat-content"><span>times more likely to be out of school in conﬂict-affected countries </span>than their counterparts in conﬂict-free countries. </p>
				<div class="svg-section stat-4"  svg-container name="stat4">
					
				</div>
			</div>
		</div>-->
	</div>
	<div id="section6">
		<!--<div class="content">
			<h3 class="title">When crises strike, gender inequalities are often exacerbated</h3>
			<div class="text">These include: increased levels of genderbased violence, exclusion from life-saving services and decision-making processes due to discriminatory social norms, such as food hierarchies, and limited mobility to get help due to physical insecurity.</div>
		</div>-->
	</div>
</div>