<div id="fixed-elements">

	<lang-menu class="lang" data-0="top:60%; left:50%;" data-300="top:5%; left:5.5%;">
		<span >English </span>
		<i class="fa fa-caret-down" aria-hidden="true"></i>
		<svg width="117" height="36">
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 0,36 0,0 58.5,0 "/>
			<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="58.5,36 117,36 117,0 58.5,0 "/>
		</svg>
		<div class="options">
			<p data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">Español</p>
			<hr data-start="border-color:rgb(211,45,51);" data-_section11-start="border-color:rgb(230,154,105);" data-end="border-color:rgb(79,186,228);">
			<p data-start="color:rgb(211,45,51);" data-_section11-start="color:rgb(230,154,105);" data-end="color:rgb(79,186,228);">Français</p>
		</div>
	</lang-menu>

	<header>
		<ul state-menu-desktop>
			<li><a class="first" state="1" href="#" data-menu-top="{{scrollToDesktop.section1}}">Today’s Situation</a></li>
			<li><a state="2" href="#" data-menu-top="{{scrollToDesktop.section2}}">Gender Impacts</a></li>
			<li><a state="3" href="#" data-menu-top="{{scrollToDesktop.section3}}">Agents of change</a></li>
			<li><a state="4" href="#" data-menu-top="{{scrollToDesktop.section4}}">Commitments</a></li>
		</ul>
	</header>
	<!--data-start="background:rgb(211,45,51);" data-_section11-start="background:rgb(230,154,105);" data-end="background:rgb(79,186,228);" -->
	<div class="un-logo-fixed"></div>
	<div data-anchor-target="#section2" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data-center="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg1" svg-container  name="svg1-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section4" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data-center="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg2" svg-container  name="svg2-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section6" data-bottom-top="bottom:-100%;" data-400-bottom="bottom:0%;" data-center="bottom:0%;" data-top-bottom="bottom:-100%;" id="svg3" svg-container  name="svg3-desktop" proportional="0.352"></div>
	<div data-anchor-target="#section6" data--11500-top="bottom:-100%;" data--12500-top="bottom:0%;" data--14000-top="bottom:0%;" data--16500-top="bottom:-100%;"  id="svg4" svg-container  name="svg4-desktop" proportional="0.352"></div>
	<div id="section7" data-anchor-target="#section6" data-200-top="top:100%;" data-top="top:0%;" data--10000-top="top:0%;" >

		<section data-anchor-target="#section6" data-top="top:100%;" data--1000-top="top:50%;" data--5000-top="top:-100%;">
			<h3>Syria refugee crisis </h3>
			<p>UN Women’s largest cash-forwork programme for women in Jordan’s Za’atari refugee camp increased the average income of full-time workers, improving diets, household hygiene and healthcare.</p>
		</section>
		<section data-anchor-target="#section6" data--3000-top="top:100%;" data--4000-top="top:50%;" data--8000-top="top:-100%;">
			<h3>Ebola epidemic, West Africa</h3>
			<p>Informational radio programmes, psychosocial support and UN Womenfacilitated trainings helped women adopt new strategies to respond to, cope with and curb the spread of Ebola.</p>
		</section>
		<section data-anchor-target="#section6" data--6000-top="top:100%;" data--7000-top="top:50%;" data--11000-top="top:-100%;">
			<h3>Earthquake, Nepal</h3>
			<p>When an earthquake rocked Nepal in 2015, UN Women partnered with national women’s groups and civil society to develop an early recovery strategy through a “Common Charter of Women’s Demands”. </p>
		</section>
		<section data-anchor-target="#section6" data--9000-top="top:100%;" data--10000-top="top:50%;" data--14000-top="top:-100%;">
			<h3>Cyclone, Fiji</h3>
			<p>Following the devastating cyclone in Fiji in 2016, UN Women has been working with local partners to promote economic opportunities for women through market spaces.</p>
		</section>

		<div class="subsection first" data-anchor-target="#section6" data-top="height:0%;" data--1000-top="height:100%;">
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection second" data-anchor-target="#section6" data--3000-top="height:0%;" data--4000-top="height:100%;">
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection third" data-anchor-target="#section6" data--6000-top="height:0%;" data--7000-top="height:100%;">
			<div class="content"></div>
			<div class="img"></div>
		</div>
		<div class="subsection fourth" data-anchor-target="#section6" data--9000-top="height:0%;" data--10000-top="height:100%;">
			<div class="content"></div>
			<div class="img"></div>
		</div>
	</div>
	<div id="last-section" data-anchor-target="#section6" data--11500-top="top:100%;background-color:rgb(146,172,173);" data--13500-top="top:0%;" data--18000-top="background-color:rgb(79,186,228);">
		<div id="section8" data-anchor-target="#section6" data--11500-top="top:100%;" data--15500-top="top:-100%;">
			<div class="content">
				<h3 class="title">When crises strike, gender inequalities are often exacerbated</h3>
				<div class="text">These include: increased levels of genderbased violence, exclusion from life-saving services and decision-making processes due to discriminatory social norms, such as food hierarchies, and limited mobility to get help due to physical insecurity.</div>
			</div>
		</div>
	</div>
	<div id="section9" slide
		data-anchor-target="#section6" data--14500-top="top:100%;" data--18500-top="top:-100%;">
		<h3 class="title">Commitments we must make</h3>
		<div class="arrow-right"><img src="assets/img/slide-arrow.png"></div>
		<div class="arrow-left"><img src="assets/img/slide-arrow.png"></div>
		<section >
			<h3 class="title">Commitment 1:</h3>
			<div class="content">Empower women and girls as change agents and leaders, including by increasing support for local women led groups to participate meaningfully in humanitarian action.</div>
		</section>
		<section >
			<h3 class="title">Commitment 2:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<section >
			<h3 class="title">Commitment 3:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<section >
			<h3 class="title">Commitment 4:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<section >
			<h3 class="title">Commitment 5:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<div id="svg5" svg-container  name="svg5-desktop"></div>
	</div>
	<div id="section10" data-anchor-target="#section6" data--15500-top="top:100%;" data--17500-top="top:0%;">
		<h2>We can make a <br> difference.</h2>
		<div class="logos">
			<div class="un-logo"></div>
			<div class="un-logo-text"></div>
		</div>
	</div>
</div>