<div id="skrollr-body">
	<div id="section1">
		<h2 class="title">Closing the Gender Gap in Humanitarian Action</h2>
	</div>

	<div id="section2">
		<h3 class="title" data-_section1-150="opacity:0; right:20px" data-_section1-250="opacity:1; right:0px">Today we face a global humanitarian challenge.</h3>
		<div class="content" data-_section1-250="opacity:0; right:20px" data-_section1-350="opacity:1; right:0px">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery and West Africa’s Ebola epidemic, human suffering has reached alarming levels, with women and girls being disproportionately affected. Yet, when it comes to humanitarian assistance, gender equality is not prioritized.</div>
	</div>

	<div id="section3">
		<!--svg-->
	</div>

	<div id="section4">
		<h4>HERE IS A SNAPSHOT</h4>

		<div class="number" screen-detector type="number" value="200.5" delay="0" time="2">0.0</div>
		<div class="number-stat" screen-detector>million people</div>
		<div class="number-content" screen-detector>were affected by natural disasters or displaced by conflict and violence in 2014.</div>

		<div class="number" screen-detector type="number" value="50" delay="0" time="2">0</div>
		<div class="number-stat" screen-detector>per cent</div>
		<div class="number-content" screen-detector>of refugees are women.</div>

		<div class="number" screen-detector>only <span screen-detector type="number" value="4" delay="0" time="3">0</span></div>
		<div class="number-stat" screen-detector>per cent</div>
		<div class="number-content" screen-detector>of projects in UN inter-agency appeals were targeted at women and girls.</div>

		<div class="number" screen-detector>just <span screen-detector type="number" value="1" delay="0" time="2">0</span></div>
		<div class="number-stat" screen-detector>per cent</div>
		<div class="number-content" screen-detector>of all funding to fragile states — most impacted by disasters — went to women’s groups or women’s ministries</div>
	</div>

	<div id="section5">
		<h3 class="title">When crises strike, gender inequalities are often exacerbated</h3>
		<div class="content">These include: increased levels of gender-based violence, exclusion from life-saving services and decision-making processes due to discriminatory social norms, such as food hierarchies, and limited mobility to get help due to physical insecurity. The short-term and unpredictable nature of humanitarian assistance and lack of appropriate programming to address protracted crises, among other factors, result in a collective failure to increase women’s resilience to future shocks.</div>
	</div>

	<div id="section6">
		<!--svg-->
	</div>

	<div id="section7">
		<h4>LET’S DIG A LITTLE DEEPER</h4>
		<h3>Health</h3>
		<div class="content">Access to healthcare is limited during and after a crisis, increasing mortality and malnutrition rates, particularly for mothers and infants.</div>
		<div class="stat-section">
			<div class="stat"><span screen-detector type="number" value="60" delay="0" time="2">0</span>%</div>
			<div class="stat-content"><span>of preventable maternal mortality deaths</span> take place in settings of conflict, displacement and natural disasters. </div>
		</div>
		<div class="svg-section">
			<!--svg-->
		</div>

		<h3>Gender-based violence</h3>
		<div class="content">Gender-based violence, including rape and early and forced marriage, often increases during crises when protection mechanisms deteriorate, depriving women and girls the fundamental rights to live free from violence.</div>
		<div class="stat-section">
			<div class="stat"><span>1:5</span></div>
			<div class="stat-content"><span>An estimated 1 in 5 refugees or displaced women in complex humanitarian settings have experienced sexual violence</span> —likely an underestimation given the barriers associated with disclosure.</div>
		</div>
		<div class="svg-section">
			<!--svg-->
		</div>

		<h3>Livelihoods</h3>
		<div class="content">Crises often hit women’s livelihoods hardest, in part also because they tend to be engaged in informal sectors, increasing their risk of engaging in poorly paid work or transactional sex.</div>
		<div class="stat-section">
			<div class="stat"><span screen-detector type="number" value="30" delay="0" time="3">0</span>%</div>
			<div class="stat-content"><span>Up to 30 per cent of internally displaced households in Yemen are female headed,</span> compared to approximately 9 per cent before the current crisis.</div>
		</div>
		<div class="svg-section">
			<!--svg-->
		</div>

		<h3>Education</h3>
		<div class="content">Girls are often the first to be pulled out of school as parents find ways to alleviate economic burdens, depriving them the fundamental rights to education and the realization of their full potential in life. </div>
		<div class="stat-section">
			<div class="stat"><span screen-detector type="number" value="2.5" delay="0" time="4">0.0</span>x</div>
			<div class="stat-content"><span>Girls are almost 2.5 times more likely to be out of school</span> in conflict-affected countries than their counterparts in conflict-free countries.</div>
		</div>
		<div class="svg-section">
			<!--svg-->
		</div>
	</div>

	<div id="section8">
		<h3 class="title">Women are leaders and agents of change</h3>
		<div class="content">Women are often the first responders to a crisis, and play a central role in the survival and resilience of families and communities. Studies show that when women are included in humanitarian action, the entire community benefits. Local women’s groups are also often best placed to mobilize change and respond to crises.</div>
	</div>

	<div id="section9">
		<!--svg-->
	</div>

	<div id="section10">
		<h4>HERE’S JUST A FEW WAYS UN WOMEN IS HELPING WOMEN IN CRISIS SITUATIONS TO TAKE CHARGE: </h4>
	</div>
	<div id="section11">
		<!--svg-->
	</div>


</div>
