<div id="fixed-elements">
	<burger-menu id="menu-burger" ng-click="clicked = !clicked" >
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
		<div class="text-burger"><span ng-show="clicked">Menu</span><span ng-show="!clicked">Close</span></div>
	</burger-menu>
	<div id="menu-mobile">
		<div class="options">
			<div>Today’s Situation</div>
			<div>Gender Impacts</div>
			<div>Agents of Change</div>
			<div>Commitments</div>
		</div>
	</div>
	<div class="section11" 
		data-_section11--300="top:100%;" 
		data-_section11-100="top:0%;"
		data-_section11-700="top:0%;"
		data-_section11-1500="top:-100%;">
		<div class="img"></div>
		<div class="text-move" 
			data-_section11-0="bottom:-100%;" 
			data-_section11-700="bottom:100%;">
			<h3>Syria refugee crisis</h3>
			<div class="content">UN Women’s largest cashfor-work programme for women in Jordan’s Za’atari refugee camp increased the average income of fulltime workers, improving diets, household hygiene and healthcare. </div>
		</div>
	</div>

	<div class="section12" 
		data-_section11-700="top:100%;" 
		data-_section11-1100="top:0%;"
		data-_section11-1700="top:0%;"
		data-_section11-2500="top:-100%;">
		<div class="img"></div>
		<div class="text-move" 
			data-_section11-1000="bottom:-100%;" 
			data-_section11-1700="bottom:100%;">
			<h3>Ebola epidemic, West Africa</h3>
			<div class="content">As primary care providers, nurses and midwives, women were at increased risk to contracting Ebola when the outbreak hit in 2014. UN Women mobilized to educate and empower women to help curb the spread of Ebola in the region and in particular rural areas.  </div>
		</div>
	</div>

	<div class="section13" 
		data-_section11-1700="top:100%;" 
		data-_section11-2100="top:0%;"
		data-_section11-2700="top:0%;"
		data-_section11-3500="top:-100%;">
		<div class="img"></div>
		<div class="text-move" 
			data-_section11-2000="bottom:-100%;" 
			data-_section11-2700="bottom:100%;">
			<h3>Earthquake, Nepal</h3>
			<div class="content">When an earthquake rocked Nepal in 2015, UN Women partnered with national women’s groups and civil society to develop an early recovery strategy through a “Common Charter of Women’s Demands”. </div>
		</div>
	</div>
<!--transform: matrix3d(0.25,0,0.00,0,0.00,-0.8,0.00,0.004,0,0,1,0,0,0,0,1);
transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);-->
	<div class="section14" 
		data-_section11-2700="top:100%;" 
		data-_section11-3100="top:0%;"
		data-_section11-3700="top:0%;"
		data-_section11-4100="top:-100%;">
		<div class="img"></div>
		<div class="text-move" 
			data-_section11-3000="bottom:-100%;" 
			data-_section11-3700="bottom:100%;">
			<h3>Cyclone, Fiji</h3>
			<div class="content">Following the devastating cyclone in Fiji in 2016, UN Women has been working with local partners to promote economic opportunities for women through market spaces.  </div>
		</div>
	</div>

	<div id="section12"
		data-_section11-3750="top:100%;" 
		data-_section11-4150="top:0%;"
		data-_section11-4550="top:-100%;">
		<h3 class="title" data-_section11-3800="right:20px; opacity:0;" data-_section11-3900="right:0px; opacity:1;">Catalyzing action to achieve gender equality</h3>
		<div class="content" data-_section11-3900="right:20px; opacity:0;" data-_section11-4000="right:0px; opacity:1;">Together we must take bold steps to enable women and girls to realize their human rights and full potential and end discrimination in crises. When women are meaningfully engaged, and their needs are directly addressed, humanitarian action is more efficient and effective, the transition to recovery accelerated, and community wide resilience is enhanced.</div>
	</div>



	<div id="section13" slide
		data-_section11-4150="top:100%;" 
		data-_section11-4550="top:0%;"
		data-_section11-4650="top:0%;"
		data-_section11-5050="top:-100%;">
		<h3 class="title"  data-_section11-4200="right:20px; opacity:0;" data-_section11-4300="right:0px; opacity:1;">Commitments we must make</h3>
		<section data-_section11-4300="opacity:0;" data-_section11-4400="opacity:1;">
			<h3 class="title">Commitment 1:</h3>
			<div class="content">Empower women and girls as change agents and leaders, including by increasing support for local women led groups to participate meaningfully in humanitarian action.</div>
		</section>
		<section data-_section11-4300="opacity:0;" data-_section11-4400="opacity:1;">
			<h3 class="title">Commitment 2:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<section data-_section11-4300="opacity:0;" data-_section11-4400="opacity:1;">
			<h3 class="title">Commitment 3:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<section data-_section11-4300="opacity:0;" data-_section11-4400="opacity:1;">
			<h3 class="title">Commitment 4:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
		<section data-_section11-4300="opacity:0;" data-_section11-4400="opacity:1;">
			<h3 class="title">Commitment 5:</h3>
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</section>
	</div>

	<div id="section14"
		data-_section11-4650="top:100%;" 
		data-_section11-5050="top:0%;">
		<h3 class="title" data-_section11-5000="opacity:0;top:50px;" data-_section11-5100="opacity:1;top:0px;">It’s time to step it up!</h3>
		<div class="content" data-_section11-5050="opacity:0;top:50px;" data-_section11-5150="opacity:1;top:0px;">Together, we can make a difference. <span>Step it up for gender equality.</span></div>
	</div>
</div>