<div id="skrollr-body">
	<div id="section1">
		<h2 class="title">Women and Girls in Humanitarian Emergencies</h2>
	</div>
	<div id="section2" slide>
		<section>
			<h3 class="title">0Today we face a global humanitarian challenge.</h3>
			<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
		</section>
		<section>
			<h3 class="title">1Today we face a global humanitarian challenge.</h3>
			<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
		</section>
		<section>
			<h3 class="title">2Today we face a global humanitarian challenge.</h3>
			<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
		</section>
		<section>
			<h3 class="title">3Today we face a global humanitarian challenge.</h3>
			<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
		</section>

<div screen-detector type="number" value="16000000" delay="0"></div>
	</div>
		<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>
		<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>
		<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>
		<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>
		<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>	<div id="section2"   screen-detector>
		<h3 class="title">Today we face a global humanitarian challenge.</h3>
		<div class="content">From Syria’s ongoing conflict to Nepal’s post-earthquake recovery to West Africa’s Ebola epidemic, human suffering has reached incredible levels and have strained humanitarian resources. Responding to crises is a question of basic civil, political, economic and social rights. </div>
	</div>
</div>
